<%- include("head") -%>
<link rel="icon" href="favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Dashboard TT'20</title>
    <link rel="stylesheet" type="text/css" href="/css/drive.css" />
  </head>
  <body>
          <%- include("stars") -%>
          

   <%- include("sidenav",{title:"bankdetails"}) -%>
      <%- include("responsive_sidenav") -%>

      <div class="content-stick">
        <h1 class="main-head"><%= userID %></h1>
        <p class=" align-right">User ID</p>
        <% if(verified == 'VERIFIED') {%>
          <p class=" align-right verified" style="color: rgb(166, 197, 166); font-weight: 600; "><%=verified%></p>
          <%} else if(verified == 'UNVERIFIED'){ %>
        <p class="align-right verified" style="color: rgb(255, 187, 97); font-weight: 600;"><%=verified%></p>
        <%} else { %>
          <p class="align-right verified"  style="color: rgb(228, 141, 141);  font-weight: 600;"><%=verified%></p>
          <%}%>
      </div>


      <div id="drive_area">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="update">
                <h4>Update Bank Details</h4>
                <p>Please upload your bank details and make sure to cross check the information.</p>
                <form class="update_form">
                  <div class="input-group">
                    <input type="text" class="form-control" id="holderName" name="holderName" placeholder="Account Holder Name" value="<%= holderName %>">
                </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="accountNo" name="accountNo" placeholder="Account Number" value="<%= accountNo %>">
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="ifsc" name="ifsc" placeholder="IFSC" value=<%= ifsc %>>  
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="bankName" name="bankName" placeholder="Bank Name" value=<%= bankName %> >
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="branchName" name="branchName" placeholder="Branch Name" value="<%= branchName %>">
                    </div>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default" id="details-submit" type="button">Submit</button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mountains forDesktop">
        <img src="/images/mountains.svg" alt="">
      </div>
      <script>
        const submit_button = document.querySelector('#details-submit');
        submit_button.addEventListener("click",() =>{
          const holderName = document.querySelector('#holderName').value;
          const accountNo = document.querySelector('#accountNo').value;
          const ifsc = document.querySelector('#ifsc').value;
          const bankName = document.querySelector('#bankName').value;
          const branchName = document.querySelector('#branchName').value;
          const data = {
            holderName,
            accountNo,
            ifsc,
            bankName,
            branchName
          }
          fetch("/api/bankdetails", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: "include",
                body: JSON.stringify(data),
                redirect: "error"
            })
                .then((res) => {
                    return res.json()
                })
                .then((json) => {
                    if (json.success) {
                            alert(json.msg)
                    }
                    else {
                        alert(json.msg);
                    }
                })
        })
      </script>
  </body>