<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Change Password</title>
  </head>
  <link rel="stylesheet" href="../css/forgotpass.css">
  <body>
    <form>
      <input type="password" name="password" id="p1" placeholder="Enter New Password"/>
      <input type="password" name="password1" id="p2" placeholder="Confirm Password"/>
      <button id="submit">Submit</button>
    </form>
  </body>
  <script>
    window.addEventListener('load', () => {
      
      document.querySelector('#submit').addEventListener('click', (e) => {
        e.preventDefault();
        console.log(window.location.href)
      const x = window.location.href
      const loc = x.substr(x.lastIndexOf("/")+1)
      console.log(loc)
        let p1 = document.querySelector('#p1').value;
        let p2 = document.querySelector('#p2').value;
        let data = {
          "password": p1
        }
        const validate = () => {
            if(p1 != p2){
              alert('Passwords not same'); return false;
            }
            if(p1 == "") return false
            return true;
        }
        if(validate()){
          fetch(`/api/changepass/${loc}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: "include",
                body: JSON.stringify(data),
                redirect: "error"
            })
                .then((res) => {
                    console.log(res);
                    return res.json()
                })
                .then((json) => {
                    if (json.success) {
                      alert(json.msg)
                            setTimeout(() => {
                              window.location.replace('/login')
                            }, 1000)

                    }
                    else {
                        alert(json.msg);
                    }
                })

        }
      })
    })
  </script>
</html>
