<%- include("head") -%>
<title>Dashboard TT'20</title>
<link rel="stylesheet" type="text/css" href="/css/events.css" />
<link rel="stylesheet" type="text/css" href="/css/conveners.css" />

</head>

<body>
    <%- include("stars") -%>


    <%- include("sidenav",{title:"conveners"}) -%>
    <%- include("responsive_sidenav") -%>

    <div class="content-stick">
        <h1 class="main-head"><%= userID %></h1>
        <p class=" align-right">User ID</p>
        <% if(verified == 'VERIFIED') {%>
        <p class=" align-right verified" style="color: rgb(166, 197, 166); font-weight: 600; "><%=verified%></p>
        <%} else if(verified == 'UNVERIFIED'){ %>
        <p class="align-right verified" style="color: rgb(255, 187, 97); font-weight: 600;"><%=verified%></p>
        <%} else { %>
        <p class="align-right verified" style="color: rgb(228, 141, 141);  font-weight: 600;"><%=verified%></p>
        <%}%>
      </div>
<div class="content">
    <div class="head">
    <h1 class="main-head">Conveners</h1>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card  left-c one">
            <img class="convener_img" src="/images/conveners/naveentiwari.png" alt="Naveen Tiwari">
            <div class="close-topics">
                    <h4>Naveen Tiwari</h4>
                    <p>Convener</p>
                                            <span>+91 8433481279</span>

            </div>
        
        </div>
    </div>
        <div class="col-lg-6 col-md-6">
            <div class="card  left-c one">
                <img class="convener_img" src="/images/conveners/ankitamodi.png" alt="">
                <div class="close-topics">
                    <h4>Ankita Modi</h4>
                    <p>Convener</p>
                                            <span>+91 9113596289</span>

                </div>
        
            </div>
        </div>
            <div class="col-lg-6 col-md-6">
                <div class="card  left-c one">
                    <img class="convener_img" src="/images/conveners/samyuktha.png" alt="">
                    <div class="close-topics">
                        <h4>Samyuktha Raj</h4>
                        <p>Co-Convener</p>
                        <span>+91 9967604796</span>
                    </div>
                </div>
            </div>
                <div class="col-lg-6 col-md-6">
                    <div class="card  left-c one">
                        <img class="convener_img" src="/images/conveners/niketkulkarni.png" alt="">
                        <div class="close-topics">
                            <h4>Niket Kulkarni</h4>
                            <p>Co-Convener</p>
                                                    <span>+91 9987776084</span>

                        </div>
                    </div>
                </div>
       


</div></div>
         

    <div class="mountains forDesktop">
        <img src="/images/mountains.svg" alt="">
    </div>
 
</body>