<%- include("head") -%>

    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="/css/events.css" />
  </head>
  <body>
          <%- include("stars") -%>
          

   <%- include("sidenav",{title:"events"}) -%>
      <%- include("responsive_sidenav") -%>
<div class="forMobile">
  <img class="tt_mobile" src="/images/ttlight.svg" alt="">
        <a href="/">
      <img class="tt_round" src="/images/tt_round.png" alt="">
      </a>
</div>
          
    <div class="content">
      <div class="head"><h1 class="main-head">Events</h1>
      <p>Click card for details.</p>
      <p>Event Registrations close 24 hours before the event</p>

    </div>
          <div class="content-stick">
            <h1 class="main-head"><%= userID %></h1>
            <p class=" align-right">User ID</p>
            <% if(verified == 'VERIFIED') {%>
              <p class=" align-right verified" style="color: rgb(166, 197, 166); font-weight: 600; "><%=verified%></p>
              <%} else if(verified == 'UNVERIFIED'){ %>
            <p class="align-right verified" style="color: rgb(255, 187, 97); font-weight: 600;"><%=verified%></p>
            <%} else { %>
              <p class="align-right verified"  style="color: rgb(228, 141, 141);  font-weight: 600;"><%=verified%></p>
              <%}%>
          </div>
      <div class="row">
        <div class="col-lg-6">
          <select class="left-c" name="" id="category-dropdown">
            <option value="All" data-show="">All</option>
            <% for(let i=0; i<category.length; i++) {%>
              <option value="<%= category[i]%>"><%= category[i]%></option>>
            <% } %>
          </select>
        </div>
        <div class="col-lg-5">
          <select class="right-c" name="" id="tag-dropdown" placeholder="Select Tag">
            <option value="All" data-show="">All</option>
            <% for(let i=0; i<tags.length; i++) {%>
              <option value="<%= tags[i]%>"><%= tags[i]%></option>>
            <% } %>
          </select>
        </div>
        <div class="col-lg-1">
                  <button id="filter-button"> <i class="fas fa-filter"></i></button>
        </div>
      </div>
      <!-- <button id="filter-button">Filter<button> -->
     

    <% for(let i=0; i<events.length; i++) {%>
      <%if(i%2==0) {%>
      <div class="row">
        <%}%>
        <div class="col-lg-6">
          <a class="click" style="font-size: inherit;" href='/events/<%= events[i].eventID%>'>
          <div class="card <%= i%2==0?'left-c':'right-c'%> one">
            <div class="row">
              <div class="col-lg-9 close-topics">
                <h3 class="event-name"><%= events[i].name%> - <%= events[i].eventID%></h3> 
                <p class="category-name"><%= events[i].category %></p>
                <div class="tags">
                  <% for(let j=0; j<events[i].tags.length; j++) {%>
                    <button class="tag"><%= events[i].tags[j] %></button>
                  <% } %>
                </div>
              </div>
              <div class="col-lg-3">
                <img class="category-img"src="/images/Thankmelater/<%= events[i].category%>.svg" alt="">
              </div>
            </div>
            <br>
            <p class="event-desc">
              <%= events[i].description%>
            </p>
          </div>
        </a>
        </div>
       

        <!-- <div class="col-lg-6">
          <div class="card right-c">
            <div class="row">
              <div class="col-lg-9 close-topics">
                <h3 class="event-name"><%= events[i].name%> :: <%= events[i].eventID %></h3>
                <p class="category-name"><%= events[i].category %></p>
                <div class="tags">
                  <% for(let j=0; j<events[i].tags.length; j++) {%>
                    <button class="tag"><%= events[i].tags[j] %></button>
                  <% } %>
                </div>
              </div>
              <div class="col-lg-3">
                <img class="category-img" src="/images/blank.PNG" alt="">
              </div>
            </div>
            <br>
            <p class="event-desc">
              <%= events[i].description%>
            </p>
          </div>
        </div> -->
        <%if(i%2!=0) {%>
      </div>
      <%}%>
      <% } %>
    </div>
    <div class="mountains forDesktop">
      <img src="/images/mountains.svg" alt="">
    </div>
    <script>
      const categoryDropdown = document.querySelector('#category-dropdown');
      const tagDropdown = document.querySelector('#tag-dropdown');

      // const category_value = categoryDropdown.value;
      // const tag_value = tagDropdown.value;

      const filter_button = document.querySelector('#filter-button');


      filter_button.addEventListener('click',function(){
        const category_value = categoryDropdown.value;
        const tag_value = tagDropdown.value;

        const result = {
          category:category_value,
          tag:tag_value
        }

        window.location.replace(`/filterevents?category=${category_value}&tag=${tag_value}`);
      })

      // tagDropdown.addEventListener('change',function(){
      //   const category_value = categoryDropdown.value;
      //   const tag_value = tagDropdown.value;

      //   const result = {
      //     category:category_value,
      //     tag:tag_value
      //   }

      //   window.location.replace(`/filterevents?category=${category_value}&tag=${tag_value}`);
      // })
    </script>

  </body>
</html>