<%- include("head") %>
<link rel="stylesheet" type="text/css" href="css/loginforforget.css" />
<link rel="icon" href="favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<title>Forgot Password</title>
</head>

<body>
    <div class="container-fluid">

        <div class="row">
            <%- include("stars") -%>
            <div id="hero-img" class="col img-fluid d-flex align-items-center justify-content-center">
                <div class="text-light d-none d-lg-block logoBox">
                    <div class="content">
                        <img class="tt_round" src="/images/TTLogo.png" alt="">
                        <p class="hello">Welcome Back !</p>
                    </div>
                </div>
            </div>

            <div class="logoM" id="myLogo"></div>
            <div class="helloM" id="helloMid">
              Hi there
            </div>
            
            <div id="login-form" class="col-lg d-flex align-items-center justify-content-center forget-form">

                <form class="container reg f" id="form" name="submitForm">
                    <div class="title-container">

                        <!-- <div class="signin active">Login</div>
                        <span>&nbsp;&nbsp;</span> <span class="or"
                            style="color: #dcdcdca2;">OR</span><span>&nbsp;&nbsp;</span> -->
                        <div class="signup" style="color: black;">Forgot Password </div>

                    </div>

                    <img class="tt_back" src="/images/ttlight.svg" alt="">

                    <div class="signup-box">
                        <div class="tab">
                            <div id="scrollup" class="my-1 mr-sm-2 col-md-12 input-name">
                                <input type="text" class="form-control"  name="email" id="email" required
                                    placeholder="Email ID" />
                                <span class=" awesome2"></span>
                                <label for="name" class="floating-label">Email ID</label>
                                    <a href="/login" class="remember-link">Remember Password?</a>
                            </div>
                        </div>                         

                            <button type="button" id="submit">Send Link</button>
                        </div>
            
                    </div>
            </div>

            </form>



        </div>
    </div>
    </div>
    <script>
        window.addEventListener('load', () => {
            document.querySelector('#submit').addEventListener('click', (e) => {
                e.preventDefault();
                let email = document.querySelector('#email').value;
                let data = {
                    "email": email
                }
                const validate = () => {
                    function validateEmail(email) {
                        const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        return re.test(email);
                    }
                    if (!validateEmail(email)) {
                        alert('Please Enter your Email');
                        return false;
                    }
                    return true;
                }
                if (validate()) {
                    fetch("/api/forgotpass", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        credentials: "include",
                        body: JSON.stringify(data),
                        redirect: "error"
                    })
                        .then((res) => {
                            console.log(res);
                            return res.json()
                        })
                        .then((json) => {
                            if (json.success) {
                                alert(json.msg)
                                setTimeout(() => {
                                    window.location.replace('/login')
                                }, 1000);
                            }
                            else {
                                alert(json.msg);
                            }
                        })

                }
            })
        })
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('.signin').click(function () {
                // $( '.signup' ).removeClass('active');
                // $( '.signin' ).addClass('active');
                $('.signup-box').css('display', 'none');
                $('.login-box').css('display', 'block');
                $('.signup').css('color', '#DCDCDC');
                $('.signin').css('color', 'black');
            });

            $('.signup').click(function () {
                // $( '.signin' ).removeClass('active');
                // $( '.signup' ).addClass('active');

                $('.login-box').css('display', 'none');
                $('.signup-box').css('display', 'block');
                $('.signin').css('color', '#DCDCDC');
                $('.signup').css('color', 'black');
            });
        });


     
    </script>
    <script src="js/login.js"></script>
</body>