<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Email</title>
  </head>
  <link rel="stylesheet" href="css/forgotpass.css">
  <body>
    <form>
      <input type="text" name="email" id="email" placeholder="Enter your Email"/>
      <button id="submit">Send</button>
      <a href="/login" class="remember-link">Remember Password?</a>
    </form>
  </body>
  <script>
    window.addEventListener('load', () => {
      document.querySelector('#submit').addEventListener('click', (e) => {
        e.preventDefault();
        let email = document.querySelector('#email').value;
        let data = {
          "email": email
        }
        const validate = () => {
          function validateEmail(email) {
                const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
            if(!validateEmail(email)){
                alert('Please Enter your Email');
                return false;
            }
            return true;
        }
        if(validate()){
          fetch("/api/forgotpass", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: "include",
                body: JSON.stringify(data),
                redirect: "error"
            })
                .then((res) => {
                    console.log(res);
                    return res.json()
                })
                .then((json) => {
                    if (json.success) {
                            alert(json.msg)
                            setTimeout(() => {
                              window.location.replace('/login')
                            }, 1000);
                    }
                    else {
                        alert(json.msg);
                    }
                })

        }
      })
    })
  </script>
</html>
