<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/gallery.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=latin-ext"
    rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.0.2/swiper-bundle.min.css">
    <title>Gallery</title>
    </head>
    <body>
    <!--loader thx:https://codepen.io/aurer/pen/jEGbA-->
    <!-- <div class="loader">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;"
            xml:space="preserve">
            <path fill="#000"
                d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25"
                    dur="0.6s" repeatCount="indefinite" />
            </path>
        </svg>
    </div> -->
    
    <!--gallery-->
    <div class="gallery-wrapper">

        <div class="content">
         <h1 style="text-align:center; font-family: 'Libre Baskerville', serif; font-size: 1.2em;">Made With  ❤️  By PnP &  Sys Admin </h1>

            <div class="gallery full">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P1.jpg"
                                    alt="" />
                            </div>
    
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P2.jpg"
                                    alt="" />
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P3.jpg"
                                    alt="" />
                            </div>
    
                 
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P4.jpg"
                                    alt="" />
                            </div>
    
                 
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P5.jpg"
                                    alt="" />
                            </div>
    
                 
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P6.jpg"
                                    alt="" />
                            </div>
                        </div>
                       
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P7.jpg" alt="" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P8.jpg" alt="" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P9.jpg" alt="" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P10.jpg" alt="" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P11.jpg" alt="" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P12.jpg" alt="" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image thin">
                                <img src="/images/pnp/P13.png" alt="" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image thin  ">
                                <img src="/images/pnp/P14.png" alt="" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image thin ">
                                <img src="/images/pnp/P15.png" alt="" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image thin">
                                <img src="/images/pnp/P16.png" alt="" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image thin">
                                <img src="/images/pnp/P17.png" alt="" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image thin">
                                <img src="/images/pnp/P18.png" alt="" />
                            </div>
                        </div>
                        
                    </div>
                </div>
    
                <div class="swiper-next-button">
                    <em class="material-icons">chevron_right</em>
                </div>
                <div class="swiper-prev-button">
                    <em class="material-icons">chevron_left</em>
                </div>
            </div>
    
            <div class="gallery thumb">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P1.jpg"
                                    alt="" />
    
                                <div class="overlay">
                                    <em class="material-icons">remove_red_eye</em>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P2.jpg"
                                    alt="" />
    
                                <div class="overlay">
                                    <em class="material-icons">remove_red_eye</em>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P3.jpg"
                                    alt="" />
    
                                <div class="overlay">
                                    <em class="material-icons">remove_red_eye</em>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P4.jpg"
                                    alt="" />
    
                                <div class="overlay">
                                    <em class="material-icons">remove_red_eye</em>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="/images/pnp/P5.jpg"
                                    alt="" />
    
                                <div class="overlay">
                                    <em class="material-icons">remove_red_eye</em>
                                </div>
                            </div>
                        </div>
                        
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="/images/pnp/P6.jpg" alt="" />
                            
                                    <div class="overlay">
                                        <em class="material-icons">remove_red_eye</em>
                                    </div>
                                </div>
                            </div>
                                <div class="swiper-slide">
                                    <div class="image">
                                        <img src="/images/pnp/P7.jpg" alt="" />
                                
                                        <div class="overlay">
                                            <em class="material-icons">remove_red_eye</em>
                                        </div>
                                    </div>
                                </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img src="/images/pnp/P8.jpg" alt="" />
                                    
                                            <div class="overlay">
                                                <em class="material-icons">remove_red_eye</em>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img src="/images/pnp/P9.jpg" alt="" />
                                        
                                                <div class="overlay">
                                                    <em class="material-icons">remove_red_eye</em>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="swiper-slide">
                                                <div class="image">
                                                    <img src="/images/pnp/P10.jpg" alt="" />
                                            
                                                    <div class="overlay">
                                                        <em class="material-icons">remove_red_eye</em>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="swiper-slide">
                                                    <div class="image">
                                                        <img src="/images/pnp/P11.jpg" alt="" />
                                                
                                                        <div class="overlay">
                                                            <em class="material-icons">remove_red_eye</em>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div class="swiper-slide">
                                                        <div class="image">
                                                            <img src="/images/pnp/P12.jpg" alt="" />
                                                    
                                                            <div class="overlay">
                                                                <em class="material-icons">remove_red_eye</em>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image">
                                                            <img src="/images/pnp/P13.png" alt="" />
                                                    
                                                            <div class="overlay">
                                                                <em class="material-icons">remove_red_eye</em>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <div class="swiper-slide">
                                                            <div class="image">
                                                                <img src="/images/pnp/P14.png" alt="" />
                                                        
                                                                <div class="overlay">
                                                                    <em class="material-icons">remove_red_eye</em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            <div class="swiper-slide">
                                                                <div class="image">
                                                                    <img src="/images/pnp/P15.png" alt="" />
                                                            
                                                                    <div class="overlay">
                                                                        <em class="material-icons">remove_red_eye</em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                                <div class="swiper-slide">
                                                                    <div class="image">
                                                                        <img src="/images/pnp/P16.png" alt="" />
                                                                
                                                                        <div class="overlay">
                                                                            <em class="material-icons">remove_red_eye</em>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                    <div class="swiper-slide">
                                                                        <div class="image">
                                                                            <img src="/images/pnp/P17.png" alt="" />
                                                                    
                                                                            <div class="overlay">
                                                                                <em class="material-icons">remove_red_eye</em>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                        <div class="swiper-slide">
                                                                            <div class="image">
                                                                                <img src="/images/pnp/P18.png" alt="" />
                                                                        
                                                                                <div class="overlay">
                                                                                    <em class="material-icons">remove_red_eye</em>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                    </div>
                </div>
                <div class="swiper-next-button">
                    <em class="material-icons">arrow_right_alt</em>
                </div>
                <div class="swiper-prev-button">
                    <em class="material-icons">arrow_right_alt</em>
                </div>
            </div>
        </div>
    </div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper@6.0.2/swiper-bundle.min.js"></script>
        <script>
            $(function () {
                    if ($('.gallery-wrapper').length) {
                        var galleryThumbs = new Swiper('.gallery-wrapper .content .gallery.thumb .swiper-container', {
                            speed: 900,
                            effect: 'slide',
                            slidesPerView: 'auto',
                            spaceBetween: 12,
                            grabCursor: false,
                            simulateTouch: true,
                            loop: false,
                            watchSlidesVisibility: true,
                            watchSlidesProgress: true,
                            navigation: {
                                nextEl: '.gallery-wrapper .content .gallery.thumb .swiper-next-button',
                                prevEl: '.gallery-wrapper .content .gallery.thumb .swiper-prev-button',
                            },
                            breakpoints: {
                                320: {
                                    slidesPerView: 2,
                                    spaceBetween: 10,
                                },
                                414: {
                                    slidesPerView: 3,
                                    spaceBetween: 10
                                },
                                768: {
                                    slidesPerView: 5,
                                    spaceBetween: 10
                                },
                                1024: {
                                    slidesPerView: 7,
                                    spaceBetween: 10
                                }
                            }
                        });

                        var galleryFull = new Swiper('.gallery-wrapper .content .gallery.full .swiper-container', {
                            speed: 900,
                            effect: 'slide',
                            slidesPerView: 3,
                            spaceBetween: 0,
                            centeredSlides: true,
                            autoplay: {
                                delay: 7000,
                                disableOnInteraction: false,
                                stopOnLastSlide: false
                            },
                            keyboard: {
                                enabled: true,
                            },
                            grabCursor: false,
                            simulateTouch: false,
                            loop: true,
                            navigation: {
                                nextEl: '.gallery-wrapper .content .gallery.full .swiper-next-button',
                                prevEl: '.gallery-wrapper .content .gallery.full .swiper-prev-button',
                            },
                            thumbs: {
                                swiper: galleryThumbs
                            },
                            on: {
                                slideChangeTransitionStart: function () {
                                    $('.gallery-wrapper .content .gallery.full .swiper-slide .overlay').removeClass('show');
                                },
                                slideChangeTransitionEnd: function () {
                                    $('.gallery-wrapper .content .gallery.full .swiper-slide-active .overlay').addClass('show');
                                }
                            }
                        });
                    }
                });

                // $(window).on("load", function () {
                //     setTimeout(function () {
                //         $('.loader').fadeOut();
                //     }, 1000);
                // });
        </script>
    </body>
</html>