<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
<meta name="theme-color" content="#ffffff">
    <meta name="description" content="TechTatva'20 aims to transform the paradigm of a college fest and unite nation-wide students even in the midst of a global pandemic by going online.
    An arena for ideas and learning in all domains of technology and the advancing modern world with various kinds of events.
    Sign in to your TechTatva account to register for exciting events and have a chance to win huge cash prizes!">
    <meta property="og:url" content="https://techtatva.in/">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Techtatva'20">
    <meta property="og:description" content="TechTatva'20 aims to transform the paradigm of a college fest and unite nation-wide students even in the midst of a global pandemic by going online.
    An arena for ideas and learning in all domains of technology and the advancing modern world with various kinds of events.
    Sign in to your TechTatva account to register for exciting events and have a chance to win huge cash prizes!">
    <meta property="og:type" content="website">
    <meta name="keywords"
        content="Hackathon,Manipal,manipal,hackathon,manipal hackathon,Manipal Hackathon,Techtatva Hackathon,MIT,MIT Manipal,Manipal Institute of Technology,Techtatva20,techtatva20,techtatva manipal,Techtatva Manipal">
    <meta name="author" content="System Admin and Web Dev, MIT Manipal">
    <meta name="title" content="TechTatva'20 aims to transform the paradigm of a college fest and unite nation-wide students even in the midst of a global pandemic by going online.
    An arena for ideas and learning in all domains of technology and the advancing modern world with various kinds of events.
    Sign in to your TechTatva account to register for exciting events and have a chance to win huge cash prizes!">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/stars.css" />
<link rel="icon" type="image/png" href="/images/TTlogo.png" />