<%-include("head")%>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>Dashboard TT'20</title>
  </head>
  <body>
    <div id="anim">
      <div id="anim2">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_zc3oco3f.json" background="transparent" speed="1"
        style="width: 300px; height: 300px;" loop  autoplay></lottie-player>
        <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player class="hi" src="https://assets9.lottiefiles.com/private_files/lf30_b2qcxfzy.json"
        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player> -->
      </div>
      <!--<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_zsrpgica.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop controls autoplay></lottie-player>
      <lottie-player src="/js/lottie.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop controls autoplay></lottie-player>-->
     
            <div class="landingtext downToEarth" id="removesoon">
              <div class=" display">
                TechTatva'20<br>
            </div>
                  <div class="themetext glow">
                    TRANSFORMING<br>
                  </div>
                  <div class="themetext glow">
                    PARADIGMS
                  </div>
                  </div>
        
    </div> 
    <div id="onload" class="hidden">
      <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img class="logo" id="ttlogonav" src="/images/TTLogo.png" alt="logo" />
          </a>
          <div id="navtttext">TechTatva'20</div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <!-- <li class="nav-item active">
                    <a class="nav-link" href="#"
                      >Home <span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                  </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
              </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
              <% if(!login) {%>
              <li class="nav-item ">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <%} else {%>
                <li class="nav-item ">
                  <a class="nav-link" href="/api/logout">Logout</a>
                </li>
                <%}%>
                <li class="nav-item lastnav">
                  <a class="nav-link" href="tt20.pdf" target="_blank">Schedule</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="container-fluid a">
      
        <%- include("stars") -%>
      
        <div class="landingtext">
          <div class="tt20text">
            TechTatva'20<br>
            <div class="themetext glow">
              TRANSFORMING<br>PARADIGMS
            </div>
          </div>
          <div class="themetext themetext1 glow">
            TRANSFORMING<br>PARADIGMS
          </div>
        </div>
      
      
        <div class="row">
          <img src="/images/landing2.png" usemap="#landing" alt="Landing TT" id="mainlanding" />
          <!-- <img src="/images/purplett.svg" alt="Purple TT" id="purplett"> -->
          <!-- <img src="/images/gradienttt.svg" alt="Purple TT" id="gradienttt"> -->
          <img src="/images/landingmob.png" alt="Landing TT" id="mainlandingmob" />
        </div>
      
      </div>
    </div>
    


    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    
    <script src="/js/bodymovin.js"></script>
    <script src="/js/lottiescript.js"></script> 
    <script>
             var timer = setTimeout(function () {
                document.getElementById("anim").classList.add("hidden");
              }, 2500);

                 var timer = setTimeout(function () {
                     document.getElementById("removesoon").classList.add("hidden");
                    document.getElementById("onload").classList.remove("hidden");

                  }, 2500);
              
    </script>
  </body>
</html>
