<%- include("head") %> 
    <link rel="stylesheet" type="text/css" href="css/loginNew.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>Login</title>
</head>
<body>
        <div class="container-fluid">
          <div class="row">
            <%- include("stars") -%>
            <div id="hero-img" class="col img-fluid d-flex align-items-center justify-content-center">
              <div class="text-light d-none d-lg-block logoBox">
                <div class="content">
                    <img class="tt_round" src="/images/TTLogo.png" alt=""> 
                    <p class="hello">Hello There!</p>
                </div>
                
               
            </div>
            </div>

            <div class="logoM" id="myLogo"></div>
            <div class="helloM" id="helloMid">
              Hello <br>there!
            </div>

            <div id="login-form" class="col-lg d-flex align-items-center justify-content-center">
              
              <form class="container reg f" id="form" name="submitForm">
                <div class="title-container" id="titlec">
                  
                  <div class="signin active">Login</div>
                  <span>&nbsp;&nbsp;</span> <span class="or" style="color: #dcdcdca2;">OR</span><span>&nbsp;&nbsp;</span>
                  <div class="signup" style="color: black;">Sign Up</div>

                </div>

                <img class="tt_back" src="/images/ttlight.svg" alt="">
            
                <div class="signup-box">
                  <div class="tab">
                    <div id="scrollup" class="my-1 mr-sm-2 col-md-12 input-name">
                      <input type="text" class="form-control" value="" id="name" required placeholder="Name" />
                      <span class="underline-animation awesome2"></span>
                      <label for="name" class="floating-label">Name</label>
                    </div>
  
                    <div class="my-1 mr-sm-2 col-md-12 input-name">
                      <input type="text" class="form-control" value="" id="email" required placeholder="Email Id" />
                      <span class="underline-animation awesome2"></span>
                      <label for="email" class="floating-label">Email Id</label>
                    </div> 
  
                    <div id="scrollup" class="my-1 mr-sm-2 col-md-12 input-name">
                      <input type="password" class="form-control" value="" id="password-reg" required placeholder="Password" />
                      <span class="underline-animation awesome2"></span>
                      <label for="password-reg" class="floating-label">Password</label>
                    </div>
  
                    <div id="scrollup" class="my-1 mr-sm-2 col-md-12 input-name">
                      <input type="password" class="form-control" value="" id="confirmpassword-reg" required placeholder="Confirm Password" />
                      <span class="underline-animation awesome2"></span>
                      <label for="confirmpassword-reg" class="floating-label">Confirm Password</label>
                    </div>
                    
                
                    
                  </div> 

                  <div  style="margin-top: 1.2em;"></div>


                  <div class="tab">
                    <div class="my-1 mr-sm-2 col-md-12 input-name">
                      <input type="text" class="form-control" value="" id="phone" required placeholder="Phone"/>
                      <span class="underline-animation awesome2"></span>
                      <label for="phone" class="floating-label">Phone</label>
                    </div>

                    <div class="my-1 mr-sm-2 col-md-12 input-name">
                      <input type="text" class="form-control" value="" id="branch" required placeholder="Branch" />
                      <span class="underline-animation awesome2"></span>
                      <label for="branch" class="floating-label">Branch</label>
                    </div>
  
                    <div class="my-1 mr-sm-2 col-md-12 input-name">
                      <input type="text" class="form-control" value="" id="college" required placeholder="College" />
                      <span class="underline-animation awesome2"></span>
                      <label for="college" class="floating-label">College</label>
                    </div>                    
  
                    <div id="scrollup" class="my-1 mr-sm-2 col-md-12 input-name">
                      <select class="stateSelect" name="state" id="state">
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                        <option value="Others">Others</option>
                        </select>
                      <span class="underline-animation awesome2"></span>
                      <label for="state" class="floating-label">State</label>
                    </div>
                  </div>



                  <div class="tab">
                    <div class="my-1 mr-sm-2 col-md-12 input-name">
                      <input type="text" class="form-control" value="" id="drive-link" required placeholder="Google Drive Link" style="margin-bottom: 1em;"/>
                      <span class="underline-animation awesome2" style="margin-bottom: 1em;"></span>
                      <label for="drive-link" class="floating-label">Google Drive Link</label>
                    </div>

                    <!-- <h3 style="text-align: center;">Registration Instructions</h3> -->
                    <ol style="margin-left: -2.5em; text-align: justify;">
                      <li>Please upload a photo/document of your student identification proof(ID card,Admission order etc) on Google drive and put the link of same in the above field.<strong> Make sure to keep the drive link public</strong>.</li>
                      <li>This data shall be kept private and confidential with us.</li>
                      <li>By registering, you hereby declare that you shall remain undergraduate until the completion of TechTatva'20.</li>
                    </ol>
                  </div>

                  <div  style="margin-top: 1.2em;"></div> 

                  
                  <div style="overflow:auto;">
                    <div class="g-recaptcha" id="register-captcha" data-sitekey="6Lf7g9wZAAAAAE2dN7HreAvpYa5S1Iqm627DKf65"></div>
                    <button type="button" id="prevBtn" style="margin-top: 10px;" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                    
                    <button type="button" id="reg-button">Register</button>
                    
                  </div>
                    
                  <!-- <div class="wrapper">
                    <button type="button" id="submit-btn" class="btn submitbtn" style="margin-bottom: 8px; margin-top: 1.2em;">
                      Register
                    </button>
                  </div> -->
                  <div id="submitted" style="text-align: center; font-size: 30px;"></div>
                </div>

                <div class="login-box" style="display: none;">
                  <div id="scrollup" class="my-1 mr-sm-2 col-md-12 input-name">
                    <input type="text" class="form-control" value="" id="email-login" required placeholder="Email" />
                    <span class="underline-animation awesome2"></span>
                    <label for="email-login" class="floating-label">Email</label>
                  </div>
              
                  <div class="my-1 mr-sm-2 col-md-12 input-name">
                    <input type="password" class="form-control" value="" id="password-login" required placeholder="Password"/>
                    <span class="underline-animation awesome2"></span>
                    <label for="password-login" class="floating-label" >Password</label>
                  </div>
                  <button>
                    <a href="/forgotpass" id="submit-btn-login-1" class="btn submitbtn" style="margin-bottom: 8px; margin-top: 1.2em;">Forgot Password?</a>
                  </button>
                  <div style="text-align: center;">
                    <div class="g-recaptcha"  
                    style="display: inline-block;" id="login-captcha" data-sitekey="6Lf7g9wZAAAAAE2dN7HreAvpYa5S1Iqm627DKf65"></div>
                  </div>
                  <div class="wrapper">
                    <button type="button" id="submit-btn-login" class="btn submitbtn">
                      Submit
                    </button>
                  </div>
                  
                  <div id="submitted" style="text-align: center; font-size: 30px;">
                    
                  </div>
                  </div>
                </div>
                
              </form>
    
            </div>
          </div>  
        </div>
      
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script>
          $(document).ready(function() {
            $('.signin' ).click(function() {
              // $( '.signup' ).removeClass('active');
              // $( '.signin' ).addClass('active');
              $('.signup-box').css('display', 'none');
              $('.login-box').css('display', 'block');
              $('.signup').css('color', '#DCDCDC');
              $('.signin').css('color', 'black');
            });
            
            $( '.signup' ).click(function() {
              // $( '.signin' ).removeClass('active');
              // $( '.signup' ).addClass('active');
              
              $('.login-box').css('display', 'none');
              $('.signup-box').css('display', 'block');
              $('.signin').css('color', '#DCDCDC');
              $('.signup').css('color', 'black');
              
            });
          });


          window.onscroll = function() {
          scrollFunction()
        };
        function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
          document.querySelector(".helloM").style.fontSize = "30px";
          document.querySelector(".helloM").style.lineHeight = "32px";
          document.querySelector(".helloM").style.paddingLeft = "0px";
        }

        else {
        document.querySelector(".helloM").style.fontSize = "48px";
        document.querySelector(".helloM").style.lineHeight = "60px";
      }
    }
        </script>
        <script src="js/login.js"></script>
        
</body>