<%- include("head") %> 
    <link rel="stylesheet" type="text/css" href="css/login.css" />
  <title>Login</title>
</head>

<body>
  <div class="thing1">
      <%- include("stars") -%>
      <div class="container">
        <div class="position">
          <div class="square">
            <div class="square-inn">
              Hello There!
            </div>
          </div>
        </div>
      </div>
  </div>


  <div class="thing2">
    <div class="title-container">
      <div class="signin active">Sign-In</div>
      <span>&nbsp;&nbsp;</span> <span class="or">OR</span><span>&nbsp;&nbsp;</span>
      <div class="signup">Sign-Up</div>
    </div>

    <div class="login-error-handling"></div>

    <div class="form-boxes">
      <div class="login-box">
        <form id="signUpForm">
          <input type="text" placeholder="E-mail" name="email" />
          <input type="text" placeholder="Password" name="password" />
          <button class="signinBtn">Sign-In</button>
        </form>
      </div>

      <div class="register-box">
        <form id="signUpForm">
          <input type="text" placeholder="Name" id="name"/>
          <input type="text" placeholder="E-mail" id="email"/>
          <input type="password" placeholder="Password" id="password"/>
          <input type="number" placeholder="Phone Number" id="phno" />
          <input type="text" placeholder="Branch" id="branch" />
          <input type="text" placeholder="college" id="college"/>
          <!-- States -->
          <select name="state" id="state">
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
            <option value="Daman and Diu">Daman and Diu</option>
            <option value="Delhi">Delhi</option>
            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Puducherry">Puducherry</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="West Bengal">West Bengal</option>
            </select>
          <input type="text" placeholder="Google Drive Link" id="link" />

          <button class="signupBtn">Sign-Up</button>
        </form>
      </div>

      <div class="forgot-pass-box">
        <form id="signUpForm">
          <input type="text" placeholder="E-mail" />
          <button>Submit</button>
        </form>
      </div>
    </div>
    <img id="tt_bg" src="/images/ttlight.svg" alt="ttlight" />
    
  </div>

  <!-- MOBILE SIGN UP -->
  <div class="mobile">
    <%- include("stars") -%>
    <div class="logoM" id="myLogo"></div>
    <div class="helloM ">
      Hello <br>there!
    </div>

  
  <div class="mobileThing">
    
    <div class="Mtitle-container">
      
      <div class="Msignin active">Sign-In</div>
      <span>&nbsp;&nbsp;</span> <span class="or">OR</span><span>&nbsp;&nbsp;</span>
      <div class="Msignup">Sign-Up</div>
    </div>

    <div class="login-error-handling"></div>

    <div class="Mform-boxes">
      <div class="Mlogin-box">
        <form id="MsignUpForm">
          <input type="text" placeholder="E-mail" name="email" />
          <input type="text" placeholder="Password" name="password" />
          <button class="signinBtn">Sign-In</button>
        </form>
      </div>

      <div class="Mregister-box">
        <form id="MsignUpForm">
          <input type="text" placeholder="Name" />
          <input type="text" placeholder="E-mail" />
          <input type="text" placeholder="Password" />

          <button class="signupBtn">Sign-Up</button>
        </form>
      </div>
    </div>
    
  </div>

  

 
  <script>
    function start() {
      document.querySelector(".signin").addEventListener("click", (e) => {
        document.querySelector(".signup").classList.remove("active");
        document.querySelector(".signin").classList.add("active");

        document.querySelector(".login-box").style.marginTop = 0;
      });

      document.querySelector(".signup").addEventListener("click", (e) => {
        document.querySelector(".signin").classList.remove("active");
        document.querySelector(".signup").classList.add("active");

        document.querySelector(".login-box").style.marginTop = "-200px";
      });
    }

    
    window.onscroll = function() {
      scrollFunction()
      myFunction()
      };
        function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
          document.querySelector(".helloM").style.fontSize = "30px";
          document.querySelector(".helloM").style.top = "14px";
          document.querySelector(".helloM").style.lineHeight = "30px";
        }

        else {
        document.querySelector(".helloM").style.fontSize = "48px";
        document.querySelector(".helloM").style.top = "22.42%";
        document.querySelector(".helloM").style.lineHeight = "60px";
      }
    }


    var he = document.querySelector(".helloM");
    var lo=  document.querySelector(".logoM");
    var sticky = he.offsetTop;

    function myFunction() {
      if (window.pageYOffset > sticky) 
      {
        he.classList.add("sticky"); /* line 161 of login.css */
        lo.classList.add("sticky");
      } 
      else 
      {
        he.classList.remove("sticky");
        lo.classList.add("sticky");
      }
    }
    

    start();
    window.addEventListener('load', () => {
      document.querySelector('.signinBtn').addEventListener('click', (e) => {
        e.preventDefault();
        let email = document.getElementsByName('email')[0].value;
        let password = document.getElementsByName('password')[0].value;
        let data = {
          "email": email,
          "password": password
        };
        console.log(data)
        fetch('/api/login', {
          method: 'POST',
          headers: {  
            "Content-Type": "application/JSON",
          },
          credentials: 'include',
          body: JSON.stringify(data),
        }).then(res => {
          console.log(res)
          return res.json();
        }).then((json) => {
          console.log(json)
          if (json.success) {
            window.location.replace('/');
          } else {
            alert(json.msg);
          }
        }).catch(function (error) {
          alert("Please check your internet connection.")
          console.log(error)
        });

      });
      document.querySelector('.signupBtn').addEventListener('click', (e) => {
        e.preventDefault();

      })
    })
  </script>
</body>

</html>