<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Paytm-Nodejs</title>
</head>

<body style="background-color:#f5f3ef">
  <div class="row my-5">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <form class="" action="/api/paynow" method="post">
            <div class="form-group">
              <label for="">Type: </label>
              <input class="form-control" type="text" name="type" value="">
            </div>
            <div class="form-group">
              <button class="btn form-control btn-primary">Pay Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>