<%-include("head")%>
    <link rel="stylesheet" type="text/css" href="/css/events.css" />
    <link rel="stylesheet" type="text/css" href="/css/single_event.css" />
    <title><%= event.name%></title>
</head>

<body>
       
    <%-include("stars")%>

    <%- include("sidenav",{title:"events"}) -%>
    <%- include("responsive_sidenav") -%>
    <div class="spinner-border" style="z-index: 100;position: fixed;left: 50%;top: 35%;display: none;width: 3rem; height: 3rem;"></div>
    <div class="forMobile">
        <img class="tt_mobile" src="/images/ttlight.svg" alt="">
        <a href="/">
            <img class="tt_round" src="/images/tt_round.png" alt="">
        </a>
    </div>
    <div class="content">
        <div class="head">
                        <p><a class="go_back" href="/registered"> <i class="fas fa-chevron-left"></i> Go Back</a></p>

            <h1 class="main-head"><%= event.name%> : <%= event.eventID%></h1>
        </div>
        <div class="content-stick forDesktop">
            <h1 class="main-head"><%= userID %></h1>
            <p class=" align-right">User ID</p>
            <% if(verified == 'VERIFIED') {%>
                <p class=" align-right verified" style="color: rgb(166, 197, 166); font-weight: 600; "><%=verified%></p>
                <%} else if(verified == 'UNVERIFIED'){ %>
              <p class="align-right verified" style="color: rgb(255, 187, 97); font-weight: 600;"><%=verified%></p>
              <%} else { %>
                <p class="align-right verified" style="color: rgb(228, 141, 141); font-weight: 600;"><%=verified%></p>
                <%}%>
            <div>
                <a href="/events">
                    <img src="">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 forMobile">
                <div class="card smallCard">
<div class="row">
    <div class="col-lg-9 close-topics">
        <h3 class="event-name"><%= event.name%></h3>
        <p class="category-name"><%= event.category%></p>
        
    </div>
    <div class="col-lg-3">
        <img class="category-img" src="/images/Thankmelater/<%= event.category%>.svg" alt="">
    </div>
</div>
                </div>
              
            </div>
            <div  class="row define-height"><div class="col-lg-6">
                <div class="card left-c long">
                    <h4>Description</h4>
                    <p class="event-desc">
                        <%=event.description%>
                    </p>
            
                    <%if(event.maxMembers==event.minMembers){%>
                    <h4>Team Size : <%= event.maxMembers%></h4>
            
                    <%}else{%>
                    <h4>Team Size : <%= event.minMembers%> - <%= event.maxMembers%></h4>
                    <%}%>
                                <h4>Mode</h4>
                                <%if(!event.mode){%>
                    <p class="event-desc"> NA
                        <%}else{%>
                        <%= event.mode%>
                        <%}%> 
                                    </p>
                                <h4>Link</h4>
                                
                    <%if(!link || link=='NA'){%>
                    <p class="event-desc"> To be uploaded soon.
                    
            
                        <%}else{%>
                  
                        <a href='<%= link%>' target="_blank"style="color: inherit;text-decoration: none;"><%=link%></a>
                        </p>
                    <%}%>
                                    <div style="display: flex; flex-direction: column;">
                                        <h4>Contact</h4>
                                        <div class="eventcards">
                                            <div class="row"><% for(let i = 0; i< Math.min(event.eventHead.length,2); i=i+1) {%>
                    <div class="col-lg-6">
                        <div class="name"><%=event.eventHead[i].name%>:</div>
                        <div class="phone-no"><%=event.eventHead[i].phoneNo%></div>
                    </div>
                    <%}%></div>
                                        </div>
                                    </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="card right-c">
                                
                                    <h4>Team ID: <%=teamDetails.teamID%></h4>
                    <p class="event-desc">Send the party code to your friends so that they can join</p>
            
                    <h4 style="margin-bottom: -1em;">Party Code:</h4>
                    <h2><%=teamDetails.partyCode%></h2>
            
                    <%if(teamDetails.leader == userID){%>
                    <div class="heading" class="event-desc">You are the Team Leader</div>
            
            
                    <% }else{%>
                    Team Leader is <%=teamDetails.leader%>
                    <%}%> 
            
                                        <h4 style="margin-top: 1em;">Members: </h4>    
                                        <% for(var i=0; i<teamDetails.members.length; i++) {%>
                    <div style="display: flex; flex-direction: row; text-align: left;">
                        <div><%= userDetails[i]%> : <%=teamDetails.members[i]%> <% if(event.maxMembers !=1 ) {%>
                            <Button class="remove" memberID='<%=teamDetails.members[i]%>'
                                onclick=remove('<%=teamDetails.members[i]%>')><i class="fa fa-times"
                                    aria-hidden="true"></i></Button>
                            <%}}%></div>
            
                    </div>
                    <div>
                        <Button class="event_card_btn" id="leave">Leave Team</Button>
                    </div>
                </div>
            </div></div>
    
        </div>
</div>

</body>
<script>
    var event = <%- (event).eventID %>;
    var userID = '<%- JSON.stringify(userID) %>';
    var teamID = '<%- JSON.stringify(teamDetails.teamID) %>';
    function remove(id) {
            let data = {
                "userID": Number(userID),
                "teamID": Number(teamID),
                "eventID": event,
                "removeID": id
            }
            console.log(data)
            fetch('/api/removeuser', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/JSON",
                },
                credentials: 'include',
                body: JSON.stringify(data),
                redirect: 'error'
            }).then(res=> {
                return res.json()
                
            }).then(res => {
                if(res.success){
                    alert(res.msg)
                    window.location.reload();
                }
                else{
                    alert(res.msg)
                }
            })
            
            
        }
            
    window.addEventListener('load', () => {
        
                        function removeLoader(){
                            document.querySelector('.spinner-border').style.display = 'none';
                        }

                        function addLoader(){
                            document.querySelector('.spinner-border').style.display = 'inline';
                        }
        

        document.querySelector('#leave').addEventListener('click', (e)=> {
            document.querySelector('#leave').innerHTML = 'Loading...'
            document.querySelector('#leave').disabled = true
            var eventID =  Number(e.target.getAttribute("eventID"))
            console.log(event)
            let data = {
                "userID": Number(userID),
                "teamID": teamID,
                "eventID": event
            }
            
            console.log(data) 
            fetch('/api/leaveteam', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/JSON",
                },
                credentials: 'include',
                body: JSON.stringify(data),
                redirect: 'error'
            }).then(res=> {
                console.log(res)
                return res.json()
                
            }).then(res => {
                if(res.success){
                    removeLoader();
                        setTimeout(() => alertMessage(json),20);
                    alert(res.msg)
                    window.location.reload();
                }
                else{
                    document.querySelector('#leave').innerHTML = 'Leave Team'
                    document.querySelector('#leave').disabled = false
                    alert(res.msg)
                }
            })
        })
    })
                        
</script>
</html>