<%- include("head") -%>

<title>Registered Events</title>
<link rel="stylesheet" type="text/css" href="/css/events.css" />
</head>

<body>
    <%- include("stars") -%>
    <div class="mountains forDesktop">
      <img src="/images/mountains.svg" alt="">
    </div>

    <%- include("sidenav",{title:"registered"}) -%>
    <%- include("responsive_sidenav") -%>
    <div class="forMobile">
        <img class="tt_mobile" src="/images/ttlight.svg" alt="">
        <a href="/">
            <img class="tt_round" src="/images/tt_round.png" alt="">
        </a>
    </div>
<div class="content">
    
    <div class="content-stick">
        <h1 class="main-head"><%= userID %></h1>
        <p class=" align-right">User ID</p>
        <% if(verified == 'VERIFIED') {%>
          <p class=" align-right verified" style="color:rgb(166, 197, 166); font-weight: 600; "><%=verified%></p>
          <%} else if(verified == 'UNVERIFIED'){ %>
        <p class="align-right verified" style="color:rgb(255, 187, 97); font-weight: 600;"><%=verified%></p>
        <%} else { %>
          <p class="align-right verified" style="color: rgb(228, 141, 141); font-weight: 600;"><%=verified%></p>
          <%}%>
    </div>
    <div class="head">
        <h1 class="main-head for-mobile-margin">Registered Events</h1>
    
    <%if(verified == "REJECTED"){%>
    </div>
            <p class="verifyText">
                You have no registered events! <br> Your account has not been verified. After your account has been
                verified, you can register for events.
            </p>
    </div>
    <%} else {%>
        <%if((all.length) == 0) {%>
            <p class="verifyText">
                You have no registered events! <br> You can register for events on the events page. All registered events will be listed here.
            </p>
        <% } else {%>
            <p class="verifyText">
                You have registered for <%=all.length%> event(s). <br>
            </p>

            <% for(let i=0; i<all.length; i++) {%>
                <%if(i%2==0) {%>
                <div class="row">
                  <%}%>
                  <div class="col-lg-6">
                    <a class="click" style="font-size: inherit;" href='/registered/<%= all[i].eventID%>/<%= all[i].teamID%>'>
                    <div class="card <%= i%2==0?'left-c':'right-c'%> one">
                      <div class="row">
                        <div class="col-lg-9 close-topics">
                          <h3 class="event-name"><%= all[i].name%> - <%= all[i].eventID%></h3> 
                          <p class="category-name"><%= all[i].category %></p>
                          <div class="tags">
                            
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <img class="category-img"src="/images/Thankmelater/<%= all[i].category%>.svg" alt="">
                        </div>
                      </div>
                      <br>
                      <p class="event-desc">
                        <%= all[i].description%>
                      </p>
                    </div>
                  </a>
                  </div>
          
                  <!-- <div class="col-lg-6">
                    <div class="card right-c">
                      <div class="row">
                        <div class="col-lg-9 close-topics">
                          <h3 class="event-name"><%= all[i].name%> :: <%= all[i].eventID %></h3>
                          <p class="category-name"><%= all[i].category %></p>
                          <div class="tags">
                            
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <img class="category-img" src="/images/blank.PNG" alt="">
                        </div>
                      </div>
                      <br>
                      <p class="event-desc">
                        <%= all[i].description%>
                      </p>
                    </div>
                  </div> -->
                  <%if(i%2!=0) {%>
                </div>
                <%}%>
                <% } %>

            <%}%>
    <%}%>

</body>

</html>