<!-- The Responsive sidebar -->
    <link rel="stylesheet" type="text/css" href="/css/sidenav.css" />

<div class="forMobile nav-container" tabindex="0"> 
    <div class="nav-toggle"></div>
    
    <nav class="nav-items">
        <!-- <a class="nav-item" href="/">Home</a> -->
        <a class="nav-item" href="/events">Events</a>
        <a class="nav-item" href="/registered">Registered</a>
        <a class="nav-item" href="/bankdetails">Bank Details</a>
        <a class="nav-item" href="/updatedrive">Drive Link</a>
        <a class="nav-item" href="/conveners">Conveners</a>
        <a class="nav-item" href="/results">Results</a>
        <a class="nav-item" href="/api/logout">Logout</a>

    </nav>
    <script type="text/javascript" src="/js/navbar.js"></script>
</div>