<div class="sidenav forDesktop">
    <a href="/">
        <img class="logo" id="ttlogonav" src="/images/ttfinal_dark.svg" alt="logo" />
    </a>
    <div class="links">
        <!-- <a href="/" class="<%- (title == 'home') ? "active " : " "  %> ">Home</a> -->
        <a href="/events" class="<%- (title == 'events') ? "active " : " "  %> ">Events</a>
        <a href="/registered" class="<%- (title == 'registered') ? "active " : " "  %> ">Registered</a>
        <a href="/bankdetails" class="<%- (title == 'bankdetails') ? "active " : " "  %> ">Bank Details</a>
        <a href="/updatedrive" class="<%- (title == 'drive') ? "active " : " "  %> ">Drive Link</a>
        <a href="/results" class="<%- (title == 'results') ? "active " : " "  %> ">Results</a>
        <a href="/conveners" class="<%- (title == 'conveners') ? "active " : " "  %> ">Conveners</a>
        <a href="/api/logout" style="z-index: 100;" class="<%- (title == 'logout') ? "active " : " "  %> ">Log Out</a>
    </div>
     <img id="tt_bg" src="/images/ttlight.svg" alt="ttlight" /> 
</div>