<%-include("head")%>
<link rel="stylesheet" type="text/css" href="/css/events.css" />
<link rel="stylesheet" type="text/css" href="/css/single_event.css" />
<link rel="stylesheet" type="text/css" href="/css/results.css" />
<title><%= event.name%></title>
</head>

<body>
    <%-include("stars")%>
    <%- include("sidenav",{title:"results"}) -%>
    <%- include("responsive_sidenav") -%>
    <div class="forMobile">
        <img class="tt_mobile" src="/images/ttlight.svg" alt="">
        <a href="/">
            <img class="tt_round" src="/images/tt_round.png" alt="">
        </a>
    </div>
    <div class="content">
        <div class="head">
            <p><a class="go_back" href="/results"> <i class="fas fa-chevron-left"></i> Results</a></p>
            <div class="forMobile setting-above align-right">
                <p class="no-margin-bottom"> User ID</p>
                <h4 class="no-margin-bottom"><%= userID %></h4>
                <% if(verified == 'VERIFIED') {%>
                <p class="  no-margin-bottom" style="color: rgb(166, 197, 166); font-weight: 600; "><%=verified%></p>
                <%} else if(verified == 'UNVERIFIED'){ %>
                <p class="no-margin-bottom" style="color: rgb(255, 187, 97); font-weight: 600;"><%=verified%></p>
                <%} else { %>
                <p class="no-margin-bottom " style="color: rgb(228, 141, 141); font-weight: 600;"><%=verified%></p>
                <%}%>
         </div>
         <br class="forMobile"><br class="forMobile">
         <h1 class="main-head"><%= event.name%> : <%= event.eventID%></h1>
            </div>
            <div class="content-stick forDesktop">
                <h1 id="hello" maxMembers=<%= event.maxMembers%> class="main-head"><%= userID %></h1>
                <p class=" align-right">User ID</p>
                <% if(verified == 'VERIFIED') {%>
                <p class=" align-right verified" style="color: rgb(166, 197, 166); font-weight: 600; "><%=verified%></p>
                <%} else if(verified == 'UNVERIFIED'){ %>
                <p class="align-right verified" style="color: rgb(255, 187, 97); font-weight: 600;"><%=verified%></p>
                <%} else { %>
                <p class="align-right verified" style="color: rgb(228, 141, 141); font-weight: 600;"><%=verified%></p>
                <%}%>
         <div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-6 forMobile ">
            <div class="card smallCard">
               <div class="row">
                  <div class="col-lg-9 close-topics">
                     <h3 class="event-name"><%= event.name%></h3>
                <p class="category-name"><%= event.category%></p>
                <p class=""><%= type  %></p>
            </div>
            <div class="col-lg-3">
                <img class="category-img" src="/images/Thankmelater/<%= event.category%>.svg" alt="">
            </div>
        </div>
    </div>
    </div>
    <div class="row define-height ">
        <div class="col-lg-6">
            <div class="card left-c  result_card">

               <% for(let i=0; i<3; i++){ %>
                   <h4>Round <%= i+1 %> 
                    <% if(event.maxMembers > 1) {%>
                        <i>(Team IDs)</i>
                    <%}else {%>
                        <i>(User IDs)</i>
                    <%}%>
                </h4>
                   <ul>
                    <% if(result.data[i] == 'NA') { %>
                        Contact event head for more details.
                    <% }else{for(let j=0; j<result.data[i].length; j++) { %>
                        <li><%= result.data[i][j] %></li>
                   
                <%}}%>
            </ul>
                <hr>
                <% }%> 
            </div>
        </div>
            <div class="col-lg-6 forDesktop">
               <div class="card right-c">
                  <img class="big-image" src="/images/Thankmelater/<%= event.category%>.svg" alt="">
                <div class="close-topics">
                    <h2 class="event-name-center">
                        <%= event.category%>
                    </h2>
                    <p class="event-name-center2"><%= type  %></p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="mountains forDesktop">
        <img src="/images/mountains.svg" alt="">
    </div>
</body>

</html>