<%-include("head")%>
    <link rel="stylesheet" type="text/css" href="/css/events.css" />
    <link rel="stylesheet" type="text/css" href="/css/single_event.css" />
    <title><%= event.name%></title>
</head>

<body>
    <%-include("stars")%>

    <%- include("sidenav",{title:"events"}) -%>
    <%- include("responsive_sidenav") -%>
    <div class="forMobile">
        <img class="tt_mobile" src="/images/ttlight.svg" alt="">
        <a href="/">
            <img class="tt_round" src="/images/tt_round.png" alt="">
        </a>
    </div>
          

    <div class="content">
        <div class="head">
            <p ><a class="go_back" href="/events"> <i class="fas fa-chevron-left"></i>  Go Back</a></p>
<div class="forMobile setting-above align-right">
    <p class="no-margin-bottom"> User ID</p>
    <h4 class="no-margin-bottom"><%= userID %></h4>
        <% if(verified == 'VERIFIED') {%>
        <p class="  no-margin-bottom" style="color: rgb(166, 197, 166); font-weight: 600; "><%=verified%></p>
        <%} else if(verified == 'UNVERIFIED'){ %>
        <p class="no-margin-bottom" style="color: rgb(255, 187, 97); font-weight: 600;"><%=verified%></p>
        <%} else { %>
        <p class="no-margin-bottom " style="color: rgb(228, 141, 141); font-weight: 600;"><%=verified%></p>
        <%}%>
</div>
<br class="forMobile"><br class="forMobile">

            <h1 class="main-head"><%= event.name%> : <%= event.eventID%></h1>
        </div>
        <div class="content-stick forDesktop">
            <h1 id="hello" maxMembers=<%= event.maxMembers%> class="main-head"><%= userID %></h1>
            <p class=" align-right">User ID</p>
            <% if(verified == 'VERIFIED') {%>
                <p class=" align-right verified" style="color: rgb(166, 197, 166); font-weight: 600; "><%=verified%></p>
                <%} else if(verified == 'UNVERIFIED'){ %>
              <p class="align-right verified" style="color: rgb(255, 187, 97); font-weight: 600;"><%=verified%></p>
              <%} else { %>
                <p class="align-right verified" style="color: rgb(228, 141, 141); font-weight: 600;"><%=verified%></p>
                <%}%>
            <div>
          
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 forMobile">
                <div class="card smallCard">
<div class="row">
    <div class="col-lg-9 close-topics">
        <h3 class="event-name"><%= event.name%></h3>
        <p class="category-name"><%= event.category%></p>
                                    <p class=""><%= type  %></p>

        
    </div>
    <div class="col-lg-3">
        <img class="category-img" src="/images/Thankmelater/<%= event.category%>.svg" alt="">
    </div>
</div>
                </div>
              
            </div>
            <div class="row define-height"><div class="col-lg-6">
                <div class="card left-c">

            
                    <h4>Description</h4>
                    <p class="event-desc">
                        <%=event.description%>
                    </p>
            
            
                    <p class="event-desc">
                        <%if(event.maxMembers==event.minMembers){%>
                    <h4>Team Size : <%= event.maxMembers%></h4>
            
                    <%}else{%>
                    <h4>Team Size : <%= event.minMembers%> - <%= event.maxMembers%></h4>
                    <%}%>
                                </p>
                                <h4>Mode : <%= event.mode%></h4>
                    <%if(event.maxMembers == 1){%>
                    <button class="event_card_btn" id="register" category='<%=event.category%>'
                        eventID='<%= event.eventID%>'>Register</button>
            
                    <%}else{%>
                    <div class="row">
            
                        <div class="col-lg-12"><button class="event_card_btn side_by_side" id="create"
                                category='<%=event.category%>' eventID='<%= event.eventID%>'>Create Team</button></div>
            
            
                    </div>
            
            
            
            
                    <div class="row">
                        <div class="col-lg-6"><input class="party-code" placeholder="Party Code*" id="partyCode" type="text"
                                class="col-lg-6"> </input></div>
            
                        <div class="col-lg-6"><button class="event_card_btn side_by_side" id="join" category='<%=event.category%>'
                                eventID='<%= event.eventID%>'>Join Team</button></div>
            
                    </div>
                    <p class="event-desc">*Ask team leader for party code to join their team.</p>
                    <%}%> 
                                    <div style="display: flex; flex-direction: column;">
                                        <h4>Contact</h4>
                                        <div class="eventcards">
                                            <div class="row"><% for(let i = 0; i< Math.min(event.eventHead.length,2); i=i+1) {%>
                    <div class="col-lg-6">
                        <div class="name"><%=event.eventHead[i].name%>:</div>
                        <div class="phone-no"><%=event.eventHead[i].phoneNo%></div>
                        <br class="forMobile">
                    </div>
            
                    <%}%></div>
                                        
                                        </div>
                                    </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-6 forDesktop">
                            <div class="card right-c">
                                <img class="big-image" src="/images/Thankmelater/<%= event.category%>.svg" alt="">
                    <div class="close-topics">
                        <h2 class="event-name-center">
                            <%= event.category%>

                        </h2>
                            <p class="event-name-center2"><%= type  %></p>

                    </div>
            
                </div>
            
            </div></div>
   
        </div>
       
    </div>
    <div class="mountains forDesktop">
        <img src="/images/mountains.svg" alt="">
    </div>
    
</body>
<script>
    //var event = '<%- JSON.stringify(event) %>';
    var userID = '<%- JSON.stringify(userID) %>';
    //var eventstring = `<%- JSON.stringify(event) %>`;
    //console.log(eventstring)
    // try {
    //     let event = JSON.parse(eventstring)
    // } catch (err) {
    //     console.log(err)
    // }
    var maxMembers = document.querySelector('#hello').getAttribute('maxMembers')
    
   console.log(maxMembers)
    window.addEventListener('load', () => {

        
        if(maxMembers ==1){
        
        document.querySelector('#register').addEventListener('click', (e)=> {
            document.querySelector('#register').innerHTML = 'Loading....'
            document.querySelector('#register').disabled = true
            console.log(e.target.getAttribute('category'))
            var category = e.target.getAttribute("category")
            var eventID =  Number(e.target.getAttribute("eventID"))
            
            console.log(category)
            console.log(userID)
            var data= {
                "userID": Number(userID),
                "eventID": eventID,
                "category": category
            }
            console.log(data)
            fetch('/api/registerevent', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/JSON",
                },
                credentials: 'include',
                body: JSON.stringify(data),
                redirect: 'error'
            }).then(res=> {
                return res.json()
                
            }).then(res => {
                alert(res.msg)
                document.querySelector('#register').innerHTML = 'Register'
                document.querySelector('#register').disabled = false
            })
        })
    }else{

        document.querySelector('#create').addEventListener('click', (e)=> {
            document.querySelector('#create').innerHTML = 'Loading....'
            document.querySelector('#create').disabled = true
            console.log(e.target.getAttribute('category'))
            var category = e.target.getAttribute("category")
            var eventID =  Number(e.target.getAttribute("eventID"))
            
            console.log(category)
            console.log(userID)
            var data= {
                "userID": Number(userID),
                "eventID": eventID,
                "category": category
            }
            console.log(data)
            fetch('/api/createteam', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/JSON",
                },
                credentials: 'include',
                body: JSON.stringify(data),
                redirect: 'error'
            }).then(res=> {
                return res.json()
                
            }).then(res => {
                document.querySelector('#create').innerHTML = 'Create Team';
                document.querySelector('#create').disabled = false
                alert(res.msg)
            })
        })

        document.querySelector('#join').addEventListener('click', (e)=> {
            document.querySelector('#join').innerHTML = 'Loading....'
            document.querySelector('#join').disabled = true
            console.log(e.target.getAttribute('category'))
            var category = e.target.getAttribute("category")
            var partycode = document.querySelector('#partyCode').value
            var eventID =  Number(e.target.getAttribute("eventID"))
            console.log(partycode)
            console.log(category)
            console.log(userID)
            var data= {
                "userID": Number(userID),
                "eventID": eventID,
                "category": category,
                "partyCode" : partycode
            }
            console.log(data)
            fetch('/api/jointeam', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/JSON",
                },
                credentials: 'include',
                body: JSON.stringify(data),
                redirect: 'error'
            }).then(res=> {
                return res.json()
                
            }).then(res => {
                document.querySelector('#join').innerHTML = 'Join Team'
                document.querySelector('#join').disabled = false
                alert(res.msg)
            })
        })



    }})




                        
</script>
</html>