
 <link rel="stylesheet" type="text/css" href="/css/stars.css" />

<div class="row starscont">
    <div class="sky">
        <!-- <div class="text">#CODEVEMBER</div> -->
        <div class="stars"></div>
        <div class="stars1"></div>
        <div class="stars2"></div>
        <div class="shooting-stars"></div>
    </div>
</div>