<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/tshirt.css" />
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <title>T-Shirt Sale</title>
</head>
<body>

  <div class="header">
    <img class="mit" src="/images/MITlogo.svg" alt="MIT Logo">
    <img class="tt" src="/images/ttLogoRound.svg" alt="MIT Logo">
  </div>
  <div class="bgs">
    <img class="tee" src="/images/T-shirtH.svg" alt="MIT Logo">
    <img class="bg1 forDesktop" src="/images/bg1.svg" alt="bg1">
  </div>
  
  <div class="headText">
    <p class="trans">transforming</p>
    <span>PARADIGMS</span>
  </div>


    <!--Disclaimer Section-->
  <div class="rules-section">
    <h1 class="rules">
      DISCLAIMER
    </h1>
  
    <section class="rulesCon">
      <ol>
        <li><p class="rulesText">
          All deliveries made are subject to covid-19 norms,we recommend sanitizing the package on delivery. 
        </p></li>
        <li><p class="rulesText">
          Payment once made can not be refunded
        </p></li>
        <li><p class="rulesText">
          If the user enters wrong details in the form, they won't be allowed to make any correction once the payment is made.
        </p></li>
        <li><p class="rulesText">
          Transaction ID should be necessarily entered in order to successfully place the order. 
We are not liable to refund if the transaction id is not entered.
        </p></li>
        <li>
          <p class="rulesText">
            In an event of technical issues or failure to make a payment,send an email with the relevant screenshot to ttmitmanipal@gmail.com 
 any of the terms as per its discretion.
          </p>
        </li>
        <li>
          <p class="rulesText">
            Once purchased the order cannot be returned or replaced. 
          </p>
        </li>
        <li>
          <p class="rulesText">
            The organising team holds the right to withdraw or add
          </p>
        </li>
      </ol>
    </section>
  </div>

  <!-- <div class="jellyfish">
    <img class="bg2" src="/images/bg2.svg" alt="bg2">
  </div> -->
  <div class="tshirtImage">
    <img class="bgM" src="/images/tshirtmid.png" alt="bgM">
  </div>

  <div class="container">
    <div class="row text-center text-align-center sizehead">
      <div class="col-12 text-center" style="margin-bottom:2rem ;">
        size CHART
      </div>
    </div>
    <div class="row text-center text-align-center sizehead">
      <div class="col-12 text-center">
        <img src="/images/table.svg" class="sizechart">
      </div>
    </div>
  </div>
    <h2 id="formID" class="pref headForm">FORM</h2>

  <form class="container reg" id="form" name="submitForm">

    <div id="scrollup" class="my-1 mr-sm-2 col-md-12 input-name firstInput">
      <input type="text" class="form-control" value="" id="name" required placeholder="Name" />
      <span class="underline-animation awesome2" ></span>
      <label for="name" class="floating-label">Name</label>
    </div>

    <div class="my-1 mr-sm-2 col-md-12 input-name">
      <input type="text" class="form-control" value="" id="phoneNo" required placeholder="Phone" />
      <span class="underline-animation awesome2"></span>
      <label for="phone" class="floating-label">Phone</label>
    </div>

    <div class="my-1 mr-sm-2 col-md-12 input-name">
      <input type="text" class="form-control" value="" id="email" required placeholder="Email Id" />
      <span class="underline-animation awesome2"></span>
      <label for="email" class="floating-label">Email Id</label>
    </div>

    <div class="my-1 mr-sm-2 col-md-12 input-name">
      <input type="text" class="form-control" value="" id="address" required placeholder="Address" />
      <span class="underline-animation awesome2"></span>
      <label for="address" class="floating-label">Address</label>
    </div>

    <div class="my-1 mr-sm-2 col-md-12 input-name">
      <input type="text" class="form-control" value="" id="transactionID" required placeholder="Transaction ID" />
      <span class="underline-animation awesome2"></span>
      <label for="transactionID" class="floating-label">Transaction ID</label>
    </div>
    <div style="text-align: center;">
      <div class="g-recaptcha"  
      style="display: inline-block;" id="login-captcha" data-sitekey="6Lf7g9wZAAAAAE2dN7HreAvpYa5S1Iqm627DKf65"></div>
    </div>
    
    <div class="wrapper">
      <button type="button" id="submit-btn" class="btn-outline-secondary">
        SUBMIT
      </button>
    </div>
  </form>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
  <script>
var a;
var onloadCallback = function() {
     a = grecaptcha.render('login-captcha', {
      'sitekey' : '6Lf7g9wZAAAAAE2dN7HreAvpYa5S1Iqm627DKf65',
      'theme': 'light'
    });
  };
    const submit_btn = document.querySelector('#submit-btn');
    submit_btn.addEventListener('click', (e) => {
        submit_btn.innerHTML = 'Loading.....'
        let name = document.querySelector('#name').value 
        let phoneNo = document.querySelector('#phoneNo').value
        let email = document.querySelector('#email').value 
        let address = document.querySelector('#address').value
        let transactionID = document.querySelector('#transactionID').value 

        let captcha = document.querySelector('#login-captcha').value
        let v1 = grecaptcha.getResponse(a);
        grecaptcha.reset();
        const validate = () => {
            function validateEmail(email) {
                const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
            if(name == ""){
                alert('Please Enter your Name');
                return false;
            }
            if(phoneNo == ""){
                alert('Please Enter your Phone Number');
                return false;
            }
            if(address == ""){
                alert('Please Enter your Address');
                return false;
            }
            if(transactionID == ""){
                alert('Please Enter your transaction ID');
                return false;
            }
            if(!validateEmail(email)){
                alert('Please Enter a valid Email');
                return false;
            }
            return true;
        }
        if(validate()){ 
            data = {
                name,
                email,
                phoneNo,
                address,
                transactionID,
                v1
            }
            fetch("/api/tshirts", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: "include",
                body: JSON.stringify(data),
                redirect: "error"
            })
                .then((res) => {
                    return res.json()
                })
                .then((json) => {
                    if (json.success) {
                            alert(json.msg); 
                            window.location.reload();
                    }
                    else {
                        alert(json.msg)
                        submit_btn.innerHTML = 'Register'
                    }
                })
        } else submit_btn.innerHTML = 'Register'
    });
  </script>
</body>
</html>