<%- include("head") -%>
<link rel="icon" href="favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Dashboard TT'20</title>
    <link rel="stylesheet" type="text/css" href="/css/drive.css" />
  </head>
  <body>
          <%- include("stars") -%>
          

   <%- include("sidenav",{title:"drive"}) -%>
      <%- include("responsive_sidenav") -%>

      <div class="content-stick">
        <h1 class="main-head"><%= userID %></h1>
        <p class=" align-right">User ID</p>
        <% if(verified == 'VERIFIED') {%>
          <p class=" align-right verified" style="color: rgb(166, 197, 166); font-weight: 600; "><%=verified%></p>
          <%} else if(verified == 'UNVERIFIED'){ %>
        <p class="align-right verified" style="color: rgb(255, 187, 97); font-weight: 600;"><%=verified%></p>
        <%} else { %>
          <p class="align-right verified"  style="color: rgb(228, 141, 141);  font-weight: 600;"><%=verified%></p>
          <%}%>
      </div>


      <div id="drive_area">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="update">
                <h4>Update Drive Link</h4>
                <p>Upload a Public Drive Link for a smooth verification process.</p>
                <form class="update_form">
                  <div class="input-group">
                     <input type="text" class="form-control" id="driveLink" name="driveLink" placeholder="Enter drive link" value=<%=driveLink %>>
                     <span class="input-group-btn">
                          <button class="btn btn-default" id="drive-submit" type="button">Submit</button>
                     </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mountains forDesktop">
        <img src="/images/mountains.svg" alt="">
      </div>
      <script>
        const submit_button = document.querySelector('#drive-submit');
        submit_button.addEventListener("click",() =>{
          const driveLink = document.querySelector('#driveLink').value;
          const data = {
            driveLink
          }
          fetch("/api/updatedrive", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: "include",
                body: JSON.stringify(data),
                redirect: "error"
            })
                .then((res) => {
                    return res.json()
                })
                .then((json) => {
                    if (json.success) {
                            alert(json.msg)
                    }
                    else {
                        alert(json.msg);
                    }
                })
        })
      </script>
  </body>