<%- include("head") -%>
<link rel="icon" href="favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Dashboard TT'20</title>
    <link rel="stylesheet" type="text/css" href="css/verify.css" />
  </head>
  <body>
          <%- include("stars") -%>
          

   <%- include("sidenav",{title:"events"}) -%>
      <%- include("responsive_sidenav") -%>
<div class="forMobile">
  <img class="tt_mobile" src="/images/ttlight.svg" alt="">
        <a href="/">
      <img class="tt_round" src="/images/tt_round.png" alt="">
      </a>
</div>
          
    <div class="content">
        <h1 class="rules">
            Registered Events
        </h1>
        <section class="verifyCon">
            <p class="verifyText">
              You have no registered events! <br> Your account has not been verified. After your account has been verified, you can register for events.
            </p>
          </section>
    </div>
    <div class="mountains forDesktop">
      <img src="/images/mountains.svg" alt="">
    </div>
    

  </body>
</html>