.convener_img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 8rem;
  width: 10rem;
}

.card {
  text-align: center;
  height: 40vh;
  width: 33vw;
}
.row {
  margin-left: auto;
  margin-right: auto;
}
h4 {
  margin-top: auto;
}

@media (max-width: 600px) {
  .card {
    text-align: center;
    height: fit-content;
    width: 83vw;
  }
  .row {
    margin: 0 !important;
    padding-bottom: 2rem;
  }
}
