body {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background: linear-gradient(180deg, #110e21 30.25%, #4c00a4 123.37%);
    height: auto;
    overflow-x: hidden;
    outline: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  /*Side Nav*/
  .click:link,
  .click:visited,
  .click:active {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
  }
  .sidenav {
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    mix-blend-mode: normal;
    opacity: 0.9;
    backdrop-filter: blur(50px);
  }



  #ttlogonav {
    z-index: 2;
    position: absolute;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem auto;
  }
  
  #tt_bg {
    position: absolute;
    left: -2.51%;
    right: 73.92%;
    top: 52.08%;
    bottom: 0.18%;
    width: 110%;
  }
  
  /* sidenav links */
  
  .links {
    position: absolute;
    width: 100%;
    left: 0;
    top: 20%;
    z-index: 4;
  }
  
  .links a {
    display: block;
    color: white;
    font-size: 1.35rem;
    padding: 1.3rem 0rem 1.3rem 2rem;
  }
  
  .links a:hover {
    color: white;
    text-decoration: none;
  }
  
  .links a.active {
    border-left: 10px solid #ff89d9;
    background-color: rgba(255, 255, 255, 0.05);
    opacity: 1;
  }
  
  /*Content */
  
  .content {
    margin-left: 20vw;
  }
  
  .content-stick {
    position: absolute;
    right: 2.5rem;
    top: 4.5rem;
  }
  .head {
    margin: 4rem 0 2rem 2rem;
  }
  
  .main-head {
    line-height: 2rem;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
  }
  
  .verified {
    margin-top: -1rem;
  }
  
  .align-right {
    text-align: right;
  }
  .card {
    opacity: 1;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2);
    mix-blend-mode: normal;
    backdrop-filter: blur(10px);
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .left-c {
    margin-left: 2rem;
  }
  
  .right-c {
    margin-right: 2rem;
  }
  /*Drop Down*/
  
  select {
    width: 95%;
    height: 2.8rem;
    border-radius: 0.25rem;
    color: white;
    border: none !important;
    padding-left: 1rem;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    overflow: hidden;
    background: url("/images/arrow.svg") 96% / 3% no-repeat
      rgba(255, 255, 255, 0.2);
  }
  select option {
    background-color: #373545;
    color: white;
  }
  
  #filter-button {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: -2rem;
    border-radius: 0.25rem;
    border: 0;
    height: 2.8rem;
    width: 100%;
  }
  /*Single Card*/
  .close-topics {
    margin: 0.6rem 0rem 1.6rem 0;
    line-height: 0.4;
  }
  
  
  .forMobile {
    display: none !important;
  }
  
  /*Registered Page*/
  .for-mobile-margin {
    padding-top: 0.5rem;
    font-size: 70px;
  }
  .verifyText {
    font-size: 23px;
    line-height: 47px;
    margin: 8vh 0 0 2vw;
  }
  
  /*Registered Events*/
  
  .remove {
    border: 0;
    margin-top: 13px;
    background: #674498;
    height: 2.2rem;
    border-radius: 2px;
    opacity: 0.8;
    color: white;
    cursor: pointer;
  }

 .update h4 {
	 font-size: 14px;
	 line-height: 20px;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 color: white;
	 font-weight: 800;
	 text-align: center;
  }
 .update p {
	 font-size: 14px;
	 line-height: 20px;
	 letter-spacing: 2px;
	 color: white;
	 text-align: center;
 }
.update {
    padding-top: 10%;
 }
 .update_form {
	 max-width: 470px;
	 width: 100%;
	 margin: 0 auto;
	 box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24);
 }
 .update_form:focus {
	 outline: none;
 }
 .update_form .form-control {
	 border: none;
 }
 .update_form .form-control:focus {
	 box-shadow: none;
 }
 .update_form input {
  z-index:  1;
   margin: 1em;
	 height: 44px;
 }
 .update_form button {
	 border: none;
	 height: 44px;
	 background-color: #674498;
	 color: #fff;
	 margin: -1px;
	 border-radius: 0;
	 width: 135px;
	 text-transform: uppercase;
	 position: relative;
	 transition: all ease 0.3s;
	 -webkit-transition: all ease 0.3s;
	 -moz-transition: all ease 0.3s;
	 -o-transition: all ease 0.3s;
	 -ms-transition: all ease 0.3s;
 }
 .update_form button:hover, .update_form button:focus, .update_form button:active, .update_form button:visited {
	 color: #fff;
	 background-color: #4c00a4;
	 outline: none;
	 transition: all ease 0.3s;
	 -webkit-transition: all ease 0.3s;
	 -moz-transition: all ease 0.3s;
	 -o-transition: all ease 0.3s;
	 -ms-transition: all ease 0.3s;
 }
 .update_form button:hover:before, .update_form button:focus:before, .update_form button:active:before, .update_form button:visited:before {
	 background-color:  #4c00a4;
	 transition: all ease 0.3s;
	 -webkit-transition: all ease 0.3s;
	 -moz-transition: all ease 0.3s;
	 -o-transition: all ease 0.3s;
	 -ms-transition: all ease 0.3s;
 }
 .update_form button:before {
	 content: '';
	 position: absolute;
	 top: 100%;
	 left: 0;
	 height: 1px;
	 background-color:  #4c00a4;
	 width: 100%;
	 transition: all ease 0.3s;
	 -webkit-transition: all ease 0.3s;
	 -moz-transition: all ease 0.3s;
	 -o-transition: all ease 0.3s;
	 -ms-transition: all ease 0.3s;
 }
 .update_form .input-group-btn:last-child > .btn, .update_form .input-group-btn:last-child > .btn-group {
   z-index: 2;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   position: absolute;
   margin: auto;
   margin-top: 1.5em;
   margin-bottom: 2em;
 }
 
  
  @media only screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .forDesktop {
      display: none;
    }
    .forMobile {
      display: inline !important;
    }
 
    .for-mobile-margin {
      margin-top: 17vh !important;
    }
  
    .update {
        padding-top: 42%;
     }
 
  }
  
  .mountains {
    width: 100vw !important;
    position: fixed;
    bottom: 0;
    z-index: 0;
  }
  
  .one:after {
    z-index: -100;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
  .one:hover:after {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: -100;
  
    /* 
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in; */
  }
  