body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background: linear-gradient(180deg, #110e21 30.25%, #4c00a4 123.37%);
  height: auto;
  overflow-x: hidden;
  outline: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Side Nav*/
.click:link,
.click:visited,
.click:active {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}
.sidenav {
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  mix-blend-mode: normal;
  opacity: 0.9;
  backdrop-filter: blur(50px);
}

#ttlogonav {
  z-index: 2;
  position: absolute;
  width: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem auto;
}

#tt_bg {
  position: absolute;
  left: -2.51%;
  right: 73.92%;
  top: 52.08%;
  bottom: 0.18%;
  width: 110%;
}

/* sidenav links */

.links {
  position: absolute;
  width: 100%;
  left: 0;
  top: 20%;
  z-index: 4;
}

.links a {
  display: block;
  color: white;
  font-size: 1.35rem;
  padding: 1.3rem 0rem 1.3rem 2rem;
}

.links a:hover {
  color: white;
  text-decoration: none;
}

.links a.active {
  border-left: 10px solid #ff89d9;
  background-color: rgba(255, 255, 255, 0.05);
  opacity: 1;
}

/*Content */

.content {
  margin-left: 20vw;
}

.content-stick {
  position: absolute;
  right: 2.5rem;
  top: 4.5rem;
}
.head {
  margin: 4rem 0 2rem 2rem;
}

.main-head {
  line-height: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
}

.verified {
  margin-top: -1rem;
}

.align-right {
  text-align: right;
}
.card {
  opacity: 1;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
  mix-blend-mode: normal;
  backdrop-filter: blur(10px);
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.left-c {
  margin-left: 2rem;
}

.right-c {
  margin-right: 2rem;
}
/*Drop Down*/

select {
  width: 95%;
  height: 2.8rem;
  border-radius: 0.25rem;
  color: white;
  border: none !important;
  padding-left: 1rem;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  overflow: hidden;
  background: url("/images/arrow.svg") 96% / 3% no-repeat
    rgba(255, 255, 255, 0.2);
}
select option {
  background-color: #373545;
  color: white;
}

#filter-button {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: -2rem;
  border-radius: 0.25rem;
  border: 0;
  height: 2.8rem;
  width: 100%;
}
/*Single Card*/
.close-topics {
  margin: 0.6rem 0rem 1.6rem 0;
  line-height: 0.4;
}

.event-desc {
  font-weight: 200;
}
.event-name {
  font-size: 1.4rem;
  font-weight: 400;
}

.category-name {
  color: #c8c7c9;
  font-size: 0.8rem;
}
.tags {
  display: inline !important;
}
.tag {
  background-color: #655c77;
  border: 0;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 5px;
  line-height: 0.7;
  color: #fff;
}

.category-img {
  max-width: 5rem;
  border-radius: 5rem;
}

.event-name-center {
  font-size: 2.4rem;
  margin-top: -2rem;
  text-align: center;
}
.event-name-center2 {
  font-size: 1.4rem;
  margin-top: -0.1rem;
  text-align: center;
}
.forMobile {
  display: none !important;
}

/*Registered Page*/
.for-mobile-margin {
  padding-top: 0.5rem;
  font-size: 70px;
}
.verifyText {
  font-size: 23px;
  line-height: 47px;
  margin: 8vh 0 0 2vw;
}

/*Registered Events*/

.remove {
  border: 0;
  margin-top: 13px;
  background: #674498;
  height: 2.2rem;
  border-radius: 2px;
  opacity: 0.8;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .forDesktop {
    display: none;
  }
  .forMobile {
    display: inline !important;
  }
  .content {
    margin: 2rem 1rem;
    font-size: smaller;
  }
  .content-stick {
    line-height: 0.8rem;
    right: 1rem;
    top: 5.5rem;
  }

  h1.main-head {
    margin-bottom: 0 !important;
  }

  .card {
    height: fit-content !important;
    margin-bottom: 0rem !important;
  }

  .left-c {
    margin-left: 0 !important;
  }

  .right-c {
    margin-right: 0 !important;
  }
  .for-mobile-margin {
    margin-top: 17vh !important;
  }
  .head {
    margin: 0 !important;
  }
  .main-head {
    font-size: 2rem !important;
  }

  select {
    width: 100% !important;
    margin-bottom: 1.5rem !important;
  }
  #filter-button {
    margin-left: 0rem !important;
  }

  .col-lg-9 {
    width: 65%;
  }

  .col-lg-3 {
    width: 25%;
  }
  #filter-button {
    width: 100%;
  }
}

.mountains {
  width: 100vw !important;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

.one:after {
  z-index: -100;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.one:hover:after {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: -100;

  /* 
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in; */
}
