@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  font-family: Poppins;
}

body {
  background-image: linear-gradient(
    180deg,
    #110e21 30.25%,
    #4c00a4 123.37%
  ) !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
}
input::placeholder {
  color: white;
  font-size: 1.2rem;
}
input[type="text"],
input[type="password"] {
  background: none;
  color: inherit;
  padding: 4% 4% 4% 4%;
  border: 2px solid #fff;
  color: white;

  border-radius: 20px;
  font: inherit;
  outline: inherit;
  margin-bottom: 4%;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #4c00a4;
  color: white;
}
