body {
  font-family: "Poppins", sans-serif;
  /* background-color: rgba(20, 18, 37, 1); */
  height: 100vh;
  background: linear-gradient(180deg, #110e21 30.25%, #4c00a4 123.37%);
}

#anim2 {
  position: fixed;
  z-index: 99;
  bottom: 3%;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

#onload {
  animation: fadeIn ease-in 15s;
  -webkit-animation: fadeIn ease-in 15s;
  -moz-animation: fadeIn ease-in 15s;
  -o-animation: fadeIn ease-in 15s;
  -ms-animation: fadeIn ease-in 15s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

#anim {
  animation: fadeOut ease-out 4.2s;
  -webkit-animation: fadeOut ease-out 4.2s;
  -moz-animation: fadeOut ease-out 4.2s;
  -o-animation: fadeOut ease-out 4.2s;
  -ms-animation: fadeOut ease-out 4.2s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
/* NAV BAR */
.nav-link {
  color: white !important;
}
.container {
  margin-left: 3vw !important;
  margin-right: 0 !important;
}
.navbar .navbar-brand {
  font-size: 30px;
  color: #fc11d6 !important;
}

.navbar .nav-item {
  padding: 10px 10px;
}

.navbar-nav {
  text-align: end;
}

/* .navbar .nav-item:hover {
  font-weight: 900;
} */

.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}

.fa-bars {
  color: #fc11d6;
  font-size: 30px;
}

#ttlogonav {
  width: 6vw;
}

#mainlanding {
  width: 100vw;
  position: fixed;
  bottom: 0px;
}

#mainlandingmob {
  display: none;
}

.landingtext {
  color: white;
  margin-top: 1.8em;
}

.tt20text {
  display: none;
}

.themetext {
  position: absolute;
  left: 7.9%;
  right: 64.49%;
  top: 25.83%;
  bottom: 54.39%;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
  /* z-index: 4; */
}

#navtttext {
  font-size: 20px;
  color: white;
}

#mainlanding:hover {
  content: url("../images/landing3.png");
}

#mainlanding:hover:before {
  content: url("../images/landing3.png");
}

/* #mainlanding:hover::after {
  content: url('../images/landing3.png');
} */

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0px 0px 5px #ffffff;
  }
  to {
    text-shadow: 0px 0px 10px #ffffff;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #mainlanding {
    display: none;
  }

  #anime2 {
    width: 60vw;
  }
  #purplett {
    display: none;
  }

  #mainlandingmob {
    display: block;
    width: 100vw;
    position: fixed;
    bottom: -1.8em;
  }

  .landingtext {
    color: white;
    margin-top: 1.5em;
  }

  .tt20text {
    display: block;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
  }

  .themetext {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
  }

  .themetext1 {
    display: none;
  }

  .nav-item {
    margin-top: -0.8em;
    margin-bottom: -0.8em;
  }

  .lastnav {
    margin-bottom: 23em;
  }

  #ttlogonav {
    width: 2em;
  }

  #navtttext {
    display: none;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .nav-item {
    margin-top: -0.8em;
    margin-bottom: -0.8em;
  }

  .lastnav {
    margin-bottom: 10em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1370px) and (orientation: portrait) {
  #mainlanding {
    display: none;
  }

  #mainlandingmob {
    display: block;
    width: 100vw;
    position: fixed;
    bottom: -20em;
  }

  .landingtext {
    color: white;
    margin-top: 12em;
  }

  .tt20text {
    display: block;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
  }

  .themetext {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
    /* z-index: 4; */
  }

  #purplett {
    display: none;
  }

  #navtttext {
    display: none;
  }

  .themetext1 {
    display: none;
  }
}

.downToEarth {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center !important;
  text-justify: center !important;
  justify-content: center !important;
  align-items: center;
  width: 20%;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
}

.downToEarth div div {
  text-align: justify !important;
  text-justify: center !important;
}

.downToEarth .themetext {
  left: 0 !important;
  position: relative;
}

.display {
  display: block;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
}
