@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  font-family: Poppins;
}

body {
  background-image: linear-gradient(
    180deg,
    #110e21 30.25%,
    #4c00a4 123.37%
  ) !important;
  background-size: cover;
  overflow-y: hidden;
}

#hero-img {
  height: 100vh;
}

.logoBox {
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.2);
  mix-blend-mode: normal;
  opacity: 0.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hello {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 96px;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 25%;
  align-self: center;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.tt_round {
  height: 130px;
  width: 130px;
}

.g-recaptcha {
  transform: scale(0.77);
  -webkit-transform: scal(0.77);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

#login-form {
  background: white;
}

#circle {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 0.3rem solid #f8f8f8;
  position: relative;
  bottom: 2rem;
  margin: auto;
}

.title-container {
  display: flex;
  align-items: center;
  /* position: relative; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -7em;
  margin-bottom: -2em;
  /* padding-bottom: 10px; */
}

.g-recaptcha {
  margin-bottom: 8.5px;
}

.signup-box {
  max-width: 30vw;
  margin-left: 10vw;
  margin-top: 5vh;
}

.login-box {
  max-width: 30vw;
  margin-left: 10vw;
  margin-top: 5vh;
}

.signin,
.signup {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 96px;
  color: #dcdcdc;
  align-self: center;
}

.or {
  font-weight: 400;
  font-size: 18px;
}

/* back logo */
.tt_back {
  z-index: -1;
  position: absolute;
  width: 65%;
  left: 20.65%;
  right: 0%;
  top: 25.64%;
  bottom: -3.61%;
}

#tt_bg {
  position: absolute;
  left: -2.51%;
  right: 73.92%;
  top: 52.08%;
  bottom: 0.18%;
  width: 110%;
}
.signin:hover,
.signup:hover {
  cursor: pointer;
}

.card {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%); */
  align-content: center;
  border: none;
}

/* .btn {
  border-color: #2473bd;
  color: #2473bd;
}

.btn:hover {
  border-color: #094f91;
  color: #094f91;
  background: #094f91;
  color: #fff;
}

.btn:active {
  border-color: #094f91;
  color: #094f91;
  background: #094f91;
  color: #fff;
} */

input[type="text"],
input[type="password"] {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  box-shadow: none !important;
  margin-bottom: 0vh;
}

input[type="text"]::placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
}
input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  text-align: left;
}
input[type="text"]::-ms-input-placeholder {
  /* Microsoft Edge */
  text-align: left;
}

.input-name {
  position: relative;
  display: inline-block;
  overflow: hidden;
  /* margin-bottom: 3vh !important; */
  padding-top: 1rem;
}
.input-name > input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid #9b9b9b;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  outline: none;
}
.reg {
  position: relative;
  z-index: 10;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.col-md-12 {
  width: 95%;
  padding-left: 0rem;
  padding-right: 0rem;
}
.underline-animation {
  animation: pulse 20s infinite;
  transition: all 0.8s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;

  width: 100%;

  height: 3px;
  height: 3px;
  background-color: #724aab;
  margin-bottom: 0vh;
}

.input-name > input[type="text"]:focus + .underline-animation,
input[type="password"]:focus + .underline-animation {
  left: 0px;
}

select:focus + .underline-animation {
  left: 0;
}

.btn-outline-secondary {
  margin-top: 8vh;
  width: 142px !important;
  /* font-weight: 500 !important; */
  color: #282828 !important;
  font-size: 1.2rem;
  border-width: 0rem !important;
  /* border-color: #282828; */
  background-color: rgb(235, 235, 235);
  font-family: "PT Sans", sans-serif !important;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  background: rgb(0, 176, 155);
  background: -moz-linear-gradient(90deg, #16bffd 0%, #00ff62 100%);
  background: -webkit-linear-gradient(90deg, #16bffd 0%, #00ff62 100%);
  background: linear-gradient(90deg, #16bffd 0%, #00ff62 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b09b",endColorstr="#96c93d",GradientType=1);
  color: white !important;
  /* border-width: 0 !important; */
  /* font-weight: 700!important; */
  -webkit-background-clip: padding-box;
  border-color: transparent !important ;
}
.btn {
  /* text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 10px; */
}

.wrapper {
  text-align: center;
}

input:focus ~ .floating-label {
  display: inline;
  top: 6px;
  bottom: 10px;
  left: 16px;
  font-size: 11px;
  opacity: 1;
}

/* if you want to show label after value has been added */
input:not(:placeholder-shown) ~ .floating-label {
  display: inline;
  top: 6px;
  bottom: 10px;
  left: 16px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}
input:focus::placeholder {
  color: transparent;
}

.floating-label {
  display: none;
  position: absolute;
  pointer-events: none;
  left: 30px;
  top: 20px;
  transition: 0.2s ease all;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.col-md-12 {
  padding-left: 0rem;
  padding-right: 0rem;
}
/*Overlay BMS slot*/
.pop ul {
  list-style: none;
}
.pop li {
  display: inline-block;
  margin-right: 15px;
}
.pop input {
  visibility: hidden;
}
.pop label {
  cursor: pointer;
  text-align: center;

  position: relative;
  width: calc(100%);
  height: max-content;
  left: 2px;
  top: 2px;

  /*background: rgb(0,176,155);
  background: -moz-linear-gradient(90deg, #16BFFD 0%, #00ff62 100%);
  background: -webkit-linear-gradient(90deg, #16BFFD 0%, #00ff62 100%);
  background: linear-gradient(90deg, #16BFFD 0%, #00ff62 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b09b",endColorstr="#96c93d",GradientType=1);*/

  border: 2px solid #9b9b9b;
  box-sizing: border-box;
  border-radius: 5px;

  color: #9b9b9b;
  box-sizing: border-box;
  border-radius: 5px;
}

.pop input:checked + label {
  /* background: #9c27b0; */
  /* color: #9c27b0; */
  position: relative;
  width: calc(100%);
  height: max-content;
  left: 2px;
  top: 2px;

  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); */

  color: #16bffd;

  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #16bffd, #00ff62);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

#notActive {
  /* color: yellow;
  border: 2px solid pink; */
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

.helloM {
  position: relative;
  padding-left: 5.74% !important;
  padding-right: 56.39% !important;
  padding-top: 42.42% !important;
  padding-bottom: 11.84%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;

  color: #ffffff;
}

.logoM {
  position: fixed;
  right: 4vh !important;
  top: 2vh !important;
  display: block;
  height: 68px;
  width: 68px;
  text-indent: -999em;
  text-decoration: none;
  background-image: url("/images/TTLogo.png");
  background-size: 100% 100%;
}
.reg {
  padding-top: 10vh !important;
}

#login-form {
  padding-top: 10vh !important;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 0em;
}

/* For Steps - Begin*/

.tab {
  display: none;
}

#prevBtn {
  width: 100%;
  height: 2.5em;
  /* background: #724aab; */
  color: #724aab;
  margin-bottom: 8px;
  background: #ffffff;
  border: 3px solid #724aab;
  box-sizing: border-box;
}

#nextBtn,
#submit-btn-login,
#reg-button,
#submit {
  width: 100%;
  height: 2.5em;
  background: #724aab;
  color: white;
}

/* For Stpes - End */

@media (max-width: 992px) {
  #hero-img {
    height: 0vh;
  }

  #login-form {
    height: 100vh;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) and (orientation: portrait) {
  .signup-box {
    max-width: 100vw;
    margin-left: 0vw !important;
  }

  .login-box {
    max-width: 100vw;
    margin-left: 0vw !important;
  }

  .forget-form {
    margin-top: -5vh !important;
    height: 80vh !important;
    padding-top: 0 !important;
  }
  .tt_back {
    z-index: -1;
    position: absolute;
    width: 85%;
    left: 20.65%;
    right: 0%;
    top: 29.64%;
    bottom: -3.61%;
  }
}

@media screen and (min-width: 751px) and (max-width: 1370px) and (orientation: landscape) {
  .helloM {
    display: none;
  }
  .logoM {
    display: none;
  }

  #login-form {
    padding-top: 10vh !important;
    background-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

@media screen and (min-width: 1370px) and (orientation: landscape) {
  .helloM {
    display: none;
  }
  .logoM {
    display: none;
  }
  #login-form {
    padding-top: 10vh !important;
    background-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
