h1.result-head {
  margin-bottom: 4rem !important;
}

select {
  background: url("/images/arrow.svg") 98% / 2% no-repeat
    rgba(255, 255, 255, 0.2);
}

hr {
  background-color: #9e9e9e;
  height: 0.06rem;
  width: 100%;
}

.card {
  min-width: 35vw;
}

ul {
  list-style-type: none;
  padding-left: 0 !important;
}
.result_card {
  min-height: 77vh;
  overflow-y: auto;
}
@media (min-width: 800px) {
  .row {
    margin-left: 0.1vw;
  }
}

@media (max-width: 500px) {
  .card {
    min-width: 92vw !important;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .card {
    min-width: 96vw !important;
  }
}
