.nav-container {
  position: relative;
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  overflow: visible;
  outline: none;
}
.nav-container.is-active .nav-toggle:before,
.nav-container.is-active .nav-toggle:after {
  box-shadow: none;
}
.nav-container.is-active .nav-toggle:before {
  transform: rotate(-45deg);
}
.nav-container.is-active .nav-toggle:after {
  transform: rotate(45deg);
}
.nav-container.is-active .nav-items {
  transform: translate(0, 0);
}
.nav-container .nav-toggle {
  position: relative;
  width: 40px;
  height: 30px;
  margin: 10px;
  margin-top: 1.24rem;
  margin-left: 1.1rem;
  z-index: 4;
}
.nav-container .nav-toggle:hover {
  cursor: pointer;
}
.nav-container .nav-toggle:before,
.nav-container .nav-toggle:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 4px;
  background: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.nav-container .nav-toggle:before {
  box-shadow: 0 13.3333333333px 0 0 white;
}
.nav-container .nav-toggle:after {
  box-shadow: 0 -13.3333333333px 0 0 white;
}
.nav-container .nav-items {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  max-width: 40vw;
  color: #fff !important;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 80px 20px 20px 10px;
  transition: transform 0.3s ease;
  transform: translate(calc(-100% - 50px), 0);
  background: #110e21;
  opacity: 0.9;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px 0;
  align-content: start;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.nav-container .nav-items .nav-item {
  padding: 10px;
  transition: background-color 0.3s ease;
  color: white;
}

.tt_mobile {
  position: absolute;

  margin-top: -50px;
  max-width: 90vw;
  z-index: -1;
}

.tt_round {
  position: absolute;
  right: 15px;
  top: 25px;
}
