body {
  height: 100vh !important;
}

.define-height {
  height: fit-content;
}
.card {
  height: 100%;
}

.smallCard {
  height: 17vh !important;
}
.big-image {
  margin-left: 5%;
  width: 90%;
  border-radius: 100%;
}

.event_card_btn {
  border: 0;
  margin-top: 13px;
  background: #674498;
  height: 2.2rem;
  border-radius: 2px;
  opacity: 0.8;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.side_by_side {
  width: 100%;
  margin-bottom: 1rem;
}

.go_back {
  color: white !important;
}

.go_back:hover {
  text-decoration: none;
}

.right-c {
  text-align: left;
}

.left-c {
  margin-bottom: 20px !important;
}

.party-code {
  padding-left: 0.5rem;
  width: 100%;
  border: 0;
  height: 2.2rem;
  border-radius: 5px;
  margin-top: 0.8em;
}
h2 {
  margin-top: 2rem;
}
h4 {
  font-weight: 600;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .card {
    height: max-content !important;
  }
  .define-height .card {
    margin: 1rem !important;
  }
  .setting-above {
    line-height: 0.6rem !important;
    position: absolute;
    top: 5.5rem;
    right: 1rem;
  }

  .no-margin-bottom {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
