* {
  font-family: Altero, serif, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-family: Altero, serif, sans-serif !important;
}

body {
  background-color: #e5e5e5 !important;
  /* font download karna padega */
  overflow-x: hidden;
}
.header {
  height: 10vh !important;
}

.mit {
  position: relative;
  width: 500px;
  height: 285.05px;
  left: 0px;
  top: -89.46px;
}

.tee {
  width: 60vw;
  position: relative;
  left: 0vw;
  margin-top: 0vw !important;
}

.tt {
  position: absolute;
  width: 10vw;
  height: 10vw;
  right: 0px;
  top: 2vh;
}

.bg1 {
  z-index: -1;
  width: 55vw;
  height: 60vw;
  position: absolute;
  left: 45vw;

  top: 30vh;
  bottom: 81.84%;
}

.headText {
  position: absolute;
  height: 162px;
  left: 58vw;
  top: 46vh;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 7vh;
  text-align: right;

  color: #000000;
}

.rules {
  position: relative;
  font-size: 3rem;
  color: black;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 0.285em;
  padding-bottom: 5vh;
}
.rulesCon {
  margin-left: 3vw !important;
  margin-right: 1vw !important;
}

.rulesText {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 47px;
  color: black;
  text-transform: uppercase;
}

.bg2 {
  padding-top: 20vw;
  width: 55vw;
  height: 60vw;
  position: absolute;
  left: -10vw;
}

.bgM {
  padding-top: 20vh;
  width: 105vw;
  padding-bottom: 0vh !important;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.container {
  width: 50vw;
  text-align: center;
  padding: 20vh 0;
}

.reg {
  position: relative;
  z-index: 10;
  text-align: left;
}

#form {
  width: 60vw !important;
  padding-top: 0;
  padding-bottom: 10vh;
  /* font-family: "Poppins", sans-serif !important; */
}

input[type="text"] {
  font-family: "Poppins", sans-serif !important;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  box-shadow: none !important;
  margin-bottom: 3vh;
}

input[type="text"]::placeholder {
  /* Firefox, Chrome, Opera */
  text-align: left;
  font-weight: 600;
  color: black;
}

input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  text-align: left;
}

input[type="text"]::-ms-input-placeholder {
  /* Microsoft Edge */
  text-align: left;
}

.input-name {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 3vh !important;
  padding-top: 1rem;
}

.input-name > input[type="text"] {
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid #000000;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  outline: none;
}

.headForm {
  text-align: center;
  padding-bottom: 8vh;
  padding-top: 0 !important;
}

.reg {
  position: relative;
  z-index: 10;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.col-md-12 {
  width: 95%;
  padding-left: 0rem;
  padding-right: 0rem;
}

.underline-animation {
  animation: pulse 20s infinite;
  transition: all 0.8s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 3px;
  margin-bottom: 3vh;
  background-color: #000000;
  padding-left: 0vw !important;
  padding-right: 0vw !important;
}

.input-name > input[type="text"]:focus + .underline-animation {
  left: 0px;
}

select:focus + .underline-animation {
  left: 0px;
}

.jellyfish {
  background-size: 100% 100%;
  z-index: 2;

  background-color: #cccccc;
}

.btn-outline-secondary {
  margin-top: 8vh;
  padding: 1rem;
  width: 8rem !important;
  color: black !important;
  font-size: 1.2rem;
  border: 4px solid black !important;
}

.btn-outline-secondary:hover {
  background-color: transparent !important;
}

.wrapper {
  text-align: center;
}
.floating-label {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  color: black;
}
input:focus ~ .floating-label {
  display: inline;
  top: 6px;
  bottom: 10px;
  left: 16px;
  font-size: 11px;
  opacity: 1;
}

/* if you want to show label after value has been added */
input:not(:placeholder-shown) ~ .floating-label {
  display: inline;
  top: 6px;
  bottom: 10px;
  left: 16px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

input:focus::placeholder {
  color: transparent;
}

.floating-label {
  display: none;
  position: absolute;
  pointer-events: none;
  left: 30px;
  top: 20px;
  transition: 0.2s ease all;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.sizehead {
  font-size: 2.5em;
}

.sizechart {
  width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 750px) and (orientation: portrait) {
  .mit {
    display: none;
  }

  .tt {
    width: 15vw;
    height: 15vw;
    right: 3vw;
    top: 2vh;
  }
  .bg1 {
    z-index: -1;
    width: 350vw;
    height: 70vw;
    position: absolute;
    left: -100vw;
    top: 20vh;
  }

  .headText {
    position: absolute;
    left: 29vw;
    top: 15vh;
    font-size: 1.8rem !important;
    line-height: 2rem !important;
  }

  .bgs {
    margin-top: 2rem;
  }

  .rules {
    font-size: 2.2rem !important;
  }

  .rulesText {
    font-size: 1.3rem !important;
    margin-right: auto;
    margin-left: auto;
  }
  #form {
    width: 60vw !important;
  }
}

@font-face {
  font-family: Altero;
  src: url("/fonts/Altero-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@media only screen and (max-width: 768px) {
  body {
    background-image: url("/images/bg2.svg");
    background-repeat: repeat;
  }
  .headText {
    padding-right: 5vw !important;
  }
  .forDesktop {
    display: none;
  }
  #form {
    width: 80vw !important;
  }
  .rulesText {
    margin-right: 5vw;
    margin-bottom: 1rem;
    line-height: 2.3rem;
  }
  .rulesSection {
    font-size: smaller;
  }
}
