body {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background: linear-gradient(180deg, #110e21 30.25%, #4c00a4 123.37%)!important;
    height: auto;
    overflow-x: hidden;
    outline: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .rules {
    font-size: 3rem;
    margin-top: 15vh;
    /*background: -webkit-linear-gradient(90.49deg, #fc01ef 0.08%, #fe01ad 99.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: #878787;
    padding: 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 0.285em;
  }
  .verifyCon {
    margin-left: 1vw !important;
    margin-right: 1vw !important;
  }
  
  .verifyText {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 47px;
  
    color:white;
  }

  /*Side Nav*/
  
  .sidenav {
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    mix-blend-mode: normal;
    opacity: 0.9;
    backdrop-filter: blur(50px);
  }
  
  #ttlogonav {
    z-index: 2;
    position: absolute;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem auto;
  }
  
  #tt_bg {
    position: absolute;
    left: -2.51%;
    right: 73.92%;
    top: 52.08%;
    bottom: 0.18%;
    width: 110%;
  }
  
  /* sidenav links */
  
  .links {
    position: absolute;
    width: 100%;
    left: 0;
    top: 20%;
  }
  
  .links a {
    display: block;
    color: white;
    font-size: 1.35rem;
    padding: 1.3rem 0rem 1.3rem 2rem;
  }
  
  .links a:hover {
    color: white;
    text-decoration: none;
  }
  
  .links a.active {
    border-left: 10px solid #ff89d9;
    background-color: rgba(255, 255, 255, 0.05);
    opacity: 1;
  }
  
  /*Content */
  
  .content {
    margin-left: 20vw;
  }
  .head {
    margin: 4rem 0 2rem 2rem;
  }
  
  .forMobile {
    display: none !important;
  }
  
  @media only screen and (max-width: 768px) {
    .forDesktop {
      display: none;
    }
    .forMobile {
      display: inline !important;
    }
    .content {
      margin: 2rem 1rem;
      font-size: smaller;
    }
  }
  
  .mountains {
    position: fixed;
    bottom: 0;
    z-index: 0;
  }
  